/* In your component's stylesheet or a separate CSS file */
.custom-table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders */
    border-spacing: 0;
  }
  
  .custom-table th,
  .custom-table td {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px; /* Add padding to cells for better readability */
  }
  
  .custom-table .main-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-table .description{
    min-width: 100px;
  }

  .checkbox-pac {
    min-width: 30px;
  }

  .custom-table .checkbox-pos {
    display: flex;
    justify-content: center;
    align-items: center;
  }