.about-page {

  h2 {
    font-family: Roboto;
  }

  p:first-of-type {
    font-family: Merriweather;
    font-size: 1.8rem;
  }

  ul {
    color: $color-blue-hover;

    span {
      color: $color-black;
    }
  }

  .about-content {
    margin-top: 4em;
  }
}
