// provide a custom expanded/retracted icon to the accordion
.accordion-inverse {
  .usa-accordion-button {
    background-image: none;
  }

  .usa-accordion-button[aria-expanded=false] {
    background-image: url('#{$asset-path}/assets/img/plus-white.svg');
  }

  .usa-accordion-button[aria-expanded=true] {
    background-image: url('#{$asset-path}/assets/img/minus-white.svg');
  }
}
