.administrator-page {
  h3 {
    font-family: Roboto;
    font-size: 1.8rem;
  }

  h4 {
    font-family: Roboto;
    font-size: 1.1em;
  }

  .bid-stat-card-list > div {
    margin-top: 2em;
  }

  .usa-button-primary {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .section {
    background-color: $color-white;
    border: 1px solid $color-gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    min-height: 500px;
    padding: 25px;
  }

  .padded-section {
    padding: 25px;
  }

  .no-padding {
    padding: 0;
  }

  .total-results {
    margin-top: 2em;
  }

  .log-list-row {
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-bottom: 0;
    display: flex;
    height: 89px;
    padding: 22px 34px;

    button {
      min-width: 115px;
      width: 80%;
    }

    > div {
      margin: auto 0;
    }

    &.log-list-row--selected {
      background-color: $primary-alt-lightest;
    }

    &:first-of-type {
      margin-top: 2em;
    }

    &:last-of-type {
      border-bottom: 1px solid $color-gray;
      margin-bottom: 1em;
    }

    &:hover {
      background-color: $primary-alt-lightest;
      cursor: pointer;
    }

    &:active {
      background-color: darken($primary-alt-lightest, 7%);
    }
  }

  .log-list-row--download {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .log-contents-container {
    button {
      float: right;
    }
  }

  .log-container {
    background-color: $color-white;
    border: 1px solid $color-gray;
    font-size: .8em;
    max-height: 486px;
    max-width: 100%;
    min-height: 80px;
    overflow-y: scroll;
    padding: 16px;
  }

  .log-line-item {
    margin: .3em 0;
    max-width: 1200px;
  }

  .content-link-container {
    margin-top: .5em;
  }

  .content-link-row {
    line-height: 2em;

    a {
      text-decoration: none;
    }
  }

  .link-button-wrapper {
    display: flex;
    margin: auto;

    a {
      color: $blue-primary;
      margin: auto;
    }
  }

  .data-sync-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100%;
  }

  .top-section {
    padding-top: 1em;
    width: 100%;
  }

  .sync-job-container {
    border: 1px solid $color-gray;
    height: 138px;
    margin-top: 1em;
    overflow: scroll;
    padding: 0 24px 0 8px;
  }

  .sync-job-item {
    border-bottom: 1px solid $color-gray-light;
    display: flex;
    font-size: .8em;
    justify-content: space-between;
    padding: 1em 0;

    &:last-of-type {
      border-bottom: 0;
    }

    > div {
      flex: 8;
    }

    .fa {
      color: $blue-primary;
      display: flex;
      flex: 1;
      font-size: 1.25em;
      justify-content: flex-end;
    }

    .fa-trash-o {
      color: $alert-red;
    }
  }

  .button-container {
    border-top: 1px solid $color-gray;
    display: flex;
    justify-content: center;
    min-height: 50px;
    width: 100%;
  }

  .sync-complete {
    color: $tertiary-success;
  }

  .new-sync-container {
    display: flex;
    font-size: .8em;
    font-weight: bold;
    justify-content: center;
    padding: 1.5em;
  }

  .status-container {
    border-top: 2px solid $color-gray-light;
    margin-left: 0;
    padding-top: 1em;
    width: 100%;
  }

  .status-container--inner {
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 1em;
  }

  .new-sync-form {
    margin: 0;
    padding: 1.5em;
    position: relative;
    width: 100%;

    label {
      display: inline-block;
      margin-top: .5em;
    }

    li {
      margin-left: .5em;
      margin-right: 1em;
      width: auto;
    }

    legend {
      font-size: 1em;
    }

    label::before {
      height: .8rem;
      position: relative;
      top: 2px;
      width: .8rem;
    }

    fieldset:nth-of-type(2) > ul {
      flex-direction: column;

      label {
        margin: .5em 0;
      }
    }

    .feedback-close {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 12px;
    }

    .usa-unstyled-list {
      display: flex;
    }
  }

  .new-sync-container--form {
    background-color: $color-gray-lightest;
    margin: 1em 0;
    padding: 0;

    button {
      margin-bottom: 0;
      margin-left: 0;
      margin-top: .5em;
    }

    fieldset {
      margin-bottom: 1em;

      legend {
        margin-bottom: .25em;
      }

      &:first-of-type {
        margin-top: 1em;
      }
    }

    input {
      font-size: 1.3rem;
      height: 2rem;
    }

    .usa-input-error {
      margin-top: 0;
      padding-bottom: 0;
      padding-top: 0;
    }

    .DayPicker-Month {
      font-size: 1.3rem;
    }

    .date-time-forms {
      display: flex;
      justify-content: flex-start;
    }

    .date-time-form {
      align-items: center;
      display: flex;
      font-size: .9em;
      margin-right: 2%;

      .label {
        font-weight: normal;
        margin-right: .5em;
        margin-top: 0;
      }
    }
  }

  .delegate-roles-loading {
    opacity: 0.5;
    pointer-events: none;
  }

  .delegateRole--table {
    border: 1px solid $bg-gray-medium-0;
    margin-top: 20px;

    thead {
      label {
        margin-top: 0;
      }

      tr:nth-of-type(1) {
        border-top: 1px solid $bg-blue-dark-1;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
      }
      .delegate-role-header:nth-of-type(-n + 2) {
        min-width: 200px;
        text-align: left;
      }
      .delegate-role-header {
        cursor: pointer;

        .header-text {
          padding-left: 10px;
        }

        .delegate-role-header-sort-hidden {
          display: inline;
          visibility: hidden;
        }
        .delegate-role-header-sort {
          display: inline;
        }
      }

      .delegate-role-header:hover {
        .delegate-role-header-sort-hidden {
          visibility: visible;
        }
      }

      th {
        background-color: $bg-blue-dark-1;
        color: $color-white;
        padding: 15px 0 0;
        text-align: center;
      }

      th:nth-of-type(5) {
        .filter-row {
          div {
            min-width: 150px;
          }
        }
      }
    }

    .filter-row {
      border-bottom: 1px solid $bg-blue-dark-1;
      text-align: center;

      div {
        background-color: $color-white;
        height: 3.3rem;
        margin-top: 10px;
        min-width: 130px;

        label {
          padding-top: .7rem;
        }
      }
      input {
        border: none;
        width: calc(100% - 1.5rem);
      }
      .text-input-wrapper > span {
        right: 5px;
        top: 7px;
      }
    }

    td {
      border: none;
      border-left: 1px solid $bg-gray-medium-0;
      padding: 10px;
      text-align: left;
    }

    td:nth-child(1) {
      border-left: none!important;
    }

    td:active {
      cursor: grabbing;
    }
    tr {
      .delegateRoleCell {
        text-align: center;
      }
    }
    tr:nth-child(odd) {
      td {
        background-color: $odd-td-background-color;
      }
    }
    tr:hover {
      td {
        background-color: $bg-gray-medium-2!important;
      }
    }
    .delegateRoleCell{
      cursor: pointer;
      label {
        margin-top: 0;
      }
    }
  }

  .selectUsers {
    float: right;
  }

  // IE11 fix for input text not displaying
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    input:not([type="select"]),
    input:not([type="submit"]),
    input:not([type="radio"]) {
      box-sizing: content-box;
      width: 68%;
    }

    .link-button-wrapper {
      margin-right: 50%;
      margin-top: 14px;
    }
  }
}
