.export-button-container {
  display: flex;
  justify-content: flex-end;
}

.create-item-button {
  float: left;
}

.employee-agenda-page {
  border-top: 1px solid $color-white;

  .bidder-portfolio-search-container {
    background-color: $bg-blue-dark-1;
    padding: 12px 31px;
  }

  .results-search-bar-container {
    max-width: unset;
    padding: 0;
  }

  .search-submit-button {
    margin-top: 13px;
  }
}

.agenda-controls-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  div:first-child {
    padding-left: 35px;
  }
}

.agenda-controls-right {
  align-items: baseline;
  display: flex;
  justify-content: center;
  padding-right: 35px;
}

.agenda-results-controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 0 35px;

  div:first-child {
    margin-right: 10px;
  }

  div {
    align-items: baseline;
    display: flex;
  }
}
