.agenda-item-maintenance-container {
  margin: 10px;

  .expand-arrow {
    float: right;
    position: relative;
    top: 46%;
  }

  .maintenance-container-left {
    background-color: $color-white;
    float: left;
    height: 500px;
    width: 50%;
  }

  .maintenance-container-left-expanded {
    background-color: $color-white;
    float: left;
    height: 500px;
    width: 99%;
  }

  .maintenance-container-right {
    background-color: $color-white;
    float: left;
    height: 500px;
    margin-left: 20px;
    overflow-y: scroll;
    width: 48%;
  }

  .ai-research-content {
    padding-top: 1em;
    position: relative;

    .dashboard-section-title {
      margin-bottom: 1em;
    }

    h2 {
      display: inline;
      font-size: 1.1em;
    }
  }

  @media screen and (max-width: 1650px) {
    .ai-maintenance-containers {
      display: grid;

      .maintenance-container-left {
        height: 500px;
        width: 99%;

        .expand-arrow {
          display: none;
        }
      }

      .maintenance-container-right {
        height: 500px;
        margin-left: 0;
        margin-top: 20px;
        width: 99%
      }
    }
  }

  .ai-research-pane {
    background-color: $color-white;
    padding: 20px;

    .bid-content-container > div:last-child > div {
      display: inline;
    }
  }
  .hidden {
    display: none!important;
  }

  .data-point-container {
    margin-bottom: 10px;
  }

  .data-point-title {
    color: $color-black;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .language-details > span {
    border-left: 1px solid $bg-gray-medium-1;
    float: inherit;
    margin-left: 10px;
    padding-left: 10px;
  }

  .frequent-positions-table {

    font-size: .9em;

    td {
      border: 0;
      margin: auto;
    }

    table {
      width: 100%;
    }

    tr {
      display: flex;
    }

    tr > *:nth-child(1) {
      flex: 1
    }
    tr > *:nth-child(2) {
      flex: 6
    }
    tr > *:nth-child(3) {
      flex: 6
    }
    tr > *:nth-child(4) {
      flex: 12
    }

    tbody > tr {
      border: 2px solid $bg-gray-dark-1;
      border-top: 0px;
    }

    tbody > tr {
      > td:first-of-type {
        position: relative;
        .fa {
          color: $color-blue-hover;
          font-size: 1.4em;
          left: 30%;
          position: relative;
        }
      }
    }

    tbody > tr:nth-child(even){
      $bg: $bg-gray-medium-2;
      background-color: $bg;
      td {
        background-color: $bg;
      }
    }

    tbody > tr:nth-child(odd){
      $bg: $color-white;
      background-color: $bg;
      td {
        background-color: $bg;
      }
    }

    th {
      background-color: $dos-blue;
      border: 0;
      color: $color-white;
      font-weight: bold;
    }
  }

}
