.legs-form-container {
  display: grid;
  .legs-form {
    background-color: $color-white;
    border: 2px solid $color-gray-light;
    padding: 0 10px 20px 10px;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 90px repeat(16, auto);
    align-items: center;

    .grid-col-1 {
      font-weight: bold;
      border: none!important;
    }

    @each $row-num in map-values($aim-legs-xlrg-height-config) {
      .grid-row-#{$row-num} {
        min-height: 120px;
      }
    }

    @each $row-num in map-values($aim-legs-lrg-height-config) {
      .grid-row-#{$row-num} {
        min-height: 85px;
      }
    }

    @each $row-num in map-values($aim-legs-sm-height-config) {
      .grid-row-#{$row-num} {
        min-height: 60px;
      }
    }

    .grid-row-1 {
      font-weight: bold;
      border: none!important;
      padding: 5px!important;
    }

    .grid-row-2 {
      min-height: 105px;
    }

    $cols-rows: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15 ];


    @each $num in $cols-rows {
      .grid-col-#{$num}  {
        grid-column: $num;
        border-left: 1px solid $color-gray-lighter;
      }
      .grid-row-#{$num} {
        grid-row: $num;
        padding: 10px;
      }
    }

    // TED date and date picker
    .grid-row-10 {
      min-width: 150px;
      .read-only {
        padding-top: 15px;
      }
    }

    // Validation Columns
    .grid-col-1.grid-row-4, .grid-col-1.grid-row-8, .grid-col-1.grid-row-10 {
      padding-top: 25px;
    }
    .grid-row-4,
    .grid-row-8 {
      .read-only {
        padding-top: 15px;
      }
    }

    // Dropdown Columns
    .grid-col-1.grid-row-11,
    .grid-col-1.grid-row-12,
    .grid-col-1.grid-row-13 {
      padding-top: 33px;
    }
    .grid-row-11,
    .grid-row-12,
    .grid-row-13 {
      .read-only {
        padding-top: 23px;
      }
    }

    .grid-row-hover {
      background-color: $color-gray-lightest;
    }


    .remove-leg-button {
      float: right;
    }

    .remove-leg-button:hover {
      color: red;
    }
  }
  .icon-disabled {
    color: $color-gray;
    .fa {
      cursor: not-allowed;
    }
  }
  .icon-disabled:hover {
    color: $color-gray;
    cursor: not-allowed;
  }
}

  .fa {
    cursor: pointer;
    padding-left: 5px;
  }

  .ted-react-calendar {
    width: 280px;
    margin-top: 30px;

    .react-calendar__navigation {
      background-color: $bg-gray-medium-3;
      margin-bottom: 0;

      button {
        font-size: 2rem;
        font-weight: bold;
      }

      .react-calendar__navigation__label {
        font-size: 1.5rem;
        font-weight: bold;
        min-width: 40px;
      }
    }

    .react-calendar__month-view__weekdays {
      background-color: $bg-gray-medium-3;
      font-size: .8em;
    }
  }

  .ted-modal-content-container {
    border-top: 1px solid $color-blue-mariner;
    margin-top: -20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .ted-buttons {
      display: flex;
      justify-content: flex-end;
      flex-basis: 66%;
      margin-right: 70px;
    }
  }

  .ted-modal-header {
    margin-top: 20px;
    font-weight: bold;
    flex-basis: 100%;
  }

  .swal-aim-ted-calendar {
    padding: 0px;
    width: 600px;
  }

  .swal-aim-custom-tod {
    padding: 0px;
    width: 600px;
  }

  .tod-modal-container {
    border-top: 1px solid $color-blue-mariner;

    .tod-modal-wrapper {
      display: flex;
      padding-top: 25px;
      justify-content: space-evenly;
    }

    .tod-input-and-button {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      label {
        padding-right: 5px;
      }
    }

    .tod-buttons {
      margin: 10px;
    }

    .tod-add-clickable {
      font-size: 20px;
      .tod-icon {
        color: $color-blue-hover;
      }

      .tod-unclickable, .tod-unclickable:hover {
        color: $color-gray;
        cursor: not-allowed;
      }
    }

    .tod-preview {
      margin: 35px;
      > span {
        display: block;
        text-align: left;
      }
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-gray-lightest;
        width: 100%;
        height: 55px;
      }
      > button {
        float: right;
      }
    }
    .fa {
      color: $alert-red;
    }
    .hide-clear {
      visibility: hidden;
    }
  }

  .other-tod-wrapper {
    min-height: 65px;
    display: flex;
    cursor: default;
  }
  .other-tod {
    align-self: flex-start;
    padding-top: 23px;
  }
  .other-tod-icon {
    cursor: pointer;
    vertical-align: top;
    color: $secondary-dark;
  }

.leg-dropdown {
  background-image: none;
  border: 2px solid transparent;
  border-bottom: 2px solid $color-black;
  cursor: pointer;
  font-size: 1.6rem;
  max-width: none;
  padding: 2px 10px 2px 2px;
  height: auto;
}

.leg-dropdown:hover {
  border: 2px solid $blue-primary;
}

.aim-legs-row {
  padding: 20px 30px;
  overflow-x: auto;

}

td:nth-child(n+2) {
  border-left: 1px solid $color-gray-lighter;
  padding-right: 10px;
}

tr:hover {

  th, td {
    background-color: $color-gray-lightest;
  }

}

.arrow {
  color: $bg-gray-dark-2;
  font-size: small;
  min-height: 15px;

  span {
    margin-left: 15px;
  }

}

.tm-spinner-legs {
  left: 35%;
  position: absolute;
  top: 60%;
}

.search-locations-container {
  .search-locations-filters {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    button {
      margin: 0;
    }
    .filter {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: flex-start;
      width: 250px;
      label {
        margin-right: 5px;
      }
      input[type="search"] {
        border-right: 0.1rem solid #5b616b;
        width: 240px;
        margin-right: 25px;
      }
      span {
        margin-left: -25px;
      }
      .fa-close {
        cursor: default;
      }
    }
    button {
      margin-bottom: 0px;
    }
  }
  .active-globe {
    text-shadow: 0px 0px 12px $color-blue-neon;
  }
  .fa-enabled {
    color: $color-blue-hover;
  }
  .fa-enabled:hover {
    color: $primary-blue-darkest;
  }
}
