// Label col + EF col + leg limit
$col-count: 12;
// generic col styling
@for $num from 1 through $col-count {
  .grid-col-#{$num}-read-only  {
    grid-column: $num;
    border-left: 1px solid $color-gray-lighter;
    @if $num == 1 {
      font-weight: bold;
      border: none!important;
    }
  }
}

// should match max num in [am, md, lrg]-config-aim-legs-form-read 3 variables
$row-count: 13;
// generic row styling
@for $num from 1 through $row-count {
  .grid-row-#{$num}-read-only {
    grid-row: $num;
    padding: 10px;
  }
}

@each $row-num in map-values($sm-height-config-aim-legs-form-read) {
  .grid-row-#{$row-num}-read-only {
    min-height: 40px;
  }
}
@each $row-num in map-values($md-height-config-aim-legs-form-read) {
  .grid-row-#{$row-num}-read-only {
    min-height: 80px;
  }
}
@each $row-num in map-values($lg-height-config-aim-legs-form-read) {
  .grid-row-#{$row-num}-read-only {
    min-height: 155px;
  }
}
