.aim-header-container {
  background-color: $tm-navy-dark;

  a {
    text-decoration: none;
  }

  .aim-title-container {
    color: $color-white;
    font-size: 1.2em;
    padding: 14px;

    .fa {
      padding-right: 10px;
    }

    .aim-title {
      border-bottom: 2px solid $color-white;
      color: $color-white;
    }

    .aim-title-dash {
      padding-left: 5px;
    }
  }
}

.ai-maintenance-container {
  margin: 10px;
  display: flex;
  padding-bottom: 15px;

  // ---- start: styling for left pane ----

  .remarks-container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;

    #add-remark {
      color: $primary-blue;
      font-size: 20px;
      margin: 0 10px 0 -15px;
    }

    #add-remark:hover {
      color: $primary-blue-darkest;
    }

    .remarks-text {
      float: left;
      font-size: 1.1em;
      margin-right: .7rem;
      margin-top: 3px;
    }

    .remarks-pill {
      border-radius: 12px;
      color: $color-white;
      display: inline;
      font-size: .8em;
      margin-bottom: 1rem;
      margin-right: 1.5rem;
      padding: .5em;

      .fa-times {
        margin-left: 10px;
      }

      .fa-times:hover {
        cursor: pointer;
      }
    }
  }

  .ai-maintenance-header {
    background-color: $tm-white-smoke-light;
    padding-bottom: 20px;

    .usa-form:not(.remarks, .corrections) {
      max-width: 36rem;
    }

    .half-width {
      width: 51% !important;
    }

    label {
      font-weight: bold;
      margin: 10px 10px;
      text-align: end;
    }

    .back-save-btns-container {
      padding-top: 2.5rem;
      min-height: 70px;
      width: 95%;

      button {
        margin: 0 !important;
      }

      .save-ai-btn {
        border: 1px solid $primary-blue;
        border-radius: 5px;
        color: $primary-blue;
        background-color: $color-white;
        padding: 10px 20px;
        float: right;
        font-size: 1.4rem;
      }

      .save-ai-btn:hover {
        border-color: $primary-blue-darkest;
        color: $primary-blue-darkest;
      }
    }

    .corrections, .remarks {
      max-width: fit-content;
      margin: 10px;

      label {
        display: inline;
        margin: 0 10px 0 0;
      }

      div:not(.remarks-pill) {
        display: inline;
      }

      .remarks-pill {
        display: inline-block;
      }
    }

    .ai-maintenance-header-dd {
      margin-right: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 94%;

      #ai-maintenance-dd-asgSepBids {
        max-width: fit-content;
        margin-left: 10px;
      }
      .asg-disabled {
        background-color: $color-gray-lighter;
        border: 1px solid $color-gray-light;
        color: $color-black;
      }
      .asg-animation {
        animation: asgAnimation 2s;
      }

      @keyframes asgAnimation {
        0%   {background-color: $primary-alt-light;}
        100% {background-color: $primary-alt-lightest;}
      }

      .loading-animation {
        //background: linear-gradient(135deg, white 0% 30%, $primary-alt-light 30% 35%, white 35% 100%) right;
        background: linear-gradient(135deg, white 0% 30%, $primary-alt-light 30% 70%, white 70% 100%) right;
        //background: linear-gradient(135deg, white 0%, $primary-alt-light 50%, white 100%) right;
        background-size: 400%;
        animation: loadingAnimation 3s infinite linear;
      }

      @keyframes loadingAnimation {
        0% {
          background-position: right;
        }
        100% {
          background-position: left;
        }
      }

      .add-pos-num-input {
        border-radius: 3px;
        height: 28px;
        padding: 0 30px 0 5px;
        max-width: 150px;
        font-size: 13px;
      }
      .input-default {
        background-color: $color-white;
        border: 1px solid $bg-gray-dark-2;
      }
      .input-error {
        background-color: $color-red-lightest;
        border: 1px solid $color-red;
      }
      .input-disabled {
        background-color: $color-gray-lighter;
        border: 1px solid $color-gray-light;
      }

      .add-pos-num-icon {
        color: $primary-blue;
        margin-left: -25px;
        position: relative;
        top: 1px
      }
      .add-pos-num-icon:hover {
        color: $primary-blue-darkest;
      }
      .icon-disabled {
        color: $color-gray;
        .fa {
          cursor: not-allowed;
        }
      }
      .icon-disabled:hover {
        color: $color-gray;
        cursor: not-allowed;
      }

      div {
        display: flex;
        flex: 70%;
        align-items: baseline;
        max-width: 36rem;
      }

      select {
        border: 1px solid $bg-gray-dark-2;
        border-radius: 3px;
        font-size: 0.8em;
        height: 28px;
        padding: 0 28px 0 5px;
        text-overflow: ellipsis;
        max-width: fit-content;
      }
    }
  }

  .maintenance-container-left {
    height: 98vh;
    overflow-y: auto;
    padding: 0 10px 20px 0;
    width: 50%;

    .tm-spinner-left-pane {
      left: 35%;
      position: absolute;
      top: 40%;
    }

  }

  .maintenance-container-left-expanded {
    height: 98vh;
    overflow-y: auto;
    width: 99%;

    .tm-spinner-left-pane {
      left: 55%;
      position: absolute;
      top: 40%;
    }
  }

  // ---- end: styling for left pane ----

  .expand-arrow {
    align-self: center;
    color: $primary-blue;
  }

  // ---- start: styling for right pane ----

  .maintenance-container-right {
    background-color: $color-white;
    height: 98vh;
    margin-right: 10px;
    overflow-y: auto;
    width: 48%;
  }

  .hidden {
    display: none !important;
  }

  .ai-research-pane {
    input {
      border-radius: 5px;
    }

    .bid-content-container > div:last-child > div {
      display: inline;
    }
  }

  .ai-research-content {
    padding: 20px;
    position: relative;
    background-color: $color-white;

    .dashboard-section-title {
      margin-bottom: 1em;
    }

    h2 {
      display: inline;
      font-size: 1.1em;
    }

    #aim-classifications {
      .classifications-client-badges-container {
        max-height: initial;
      }
    }
  }

  .data-point-container {
    margin-bottom: 10px;
    .data-point-title {
      color: $color-black;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  .language-details > span {
    border-left: 1px solid $bg-gray-medium-1;
    float: inherit;
    margin-left: 10px;
    padding-left: 10px;
  }

  .frequent-positions-table {

    font-size: .9em;

    td {
      border: 0;
      margin: auto;
    }

    table {
      width: 100%;
    }

    tr {
      display: flex;
    }

    tr > *:nth-child(1) {
      flex: 1
    }

    tr > *:nth-child(2) {
      flex: 6
    }

    tr > *:nth-child(3) {
      flex: 6
    }

    tr > *:nth-child(4) {
      flex: 12
    }

    tbody > tr {
      border: 2px solid $bg-gray-dark-1;
      border-top: 0px;
    }

    tbody > tr {
      > td:first-of-type {
        position: relative;

        .fa {
          color: $color-blue-hover;
          font-size: 1.4em;
          left: 30%;
          position: relative;
        }
      }
    }

    tbody > tr:nth-child(even) {
      $bg: $bg-gray-medium-2;
      background-color: $bg;

      td {
        background-color: $bg;
      }
    }

    tbody > tr:nth-child(odd) {
      $bg: $color-white;
      background-color: $bg;

      td {
        background-color: $bg;
      }
    }

    th {
      background-color: $dos-blue;
      border: 0;
      color: $color-white;
      font-weight: bold;
    }
  }

  // ---- end: styling for right pane ----
}

.stacked {
  display: block;
  width: 99%;

  .maintenance-container-left-expanded {
    border-bottom: 3px solid $color-black;
  }

  .maintenance-container-right {
    margin-top: 20px;
    width: 99%;

    @media screen and (max-width: 1600px) {
      margin-left: 0px;
    }
  }
}

.remarks-categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 10px 30px 10px;
  justify-content: space-between;

  a {
    min-width: 200px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px
  }

}

.remarks-glossary-container {
  margin: 2em 0;

  ul {
    list-style: none;
    padding-left: 0;
    font-size: 13px;
  }

  li {
    display: flex;
    padding: 2px 0;
  }

  li > * {
    display: inline;
  }

  li:nth-child(even){
    $bg: $bg-gray-medium-2;
    background-color: $bg;
  }

  li:nth-child(odd){
    $bg: $color-white;
    background-color: $bg;
  }

  .fa {
    font-size: 1.5em;
    margin-top: 2px;
  }

  .fa-minus-circle {
    color: $color-red;
  }

  .fa-plus-circle {
    color: $tertiary-success;
  }

  .remarks-input-container {
    margin-right: 0;
    min-width: 100px;
    max-width: 40%;
    width: 100%;

    input {
      height: 10px;
      font-size: 13px;
      line-height: normal;
      max-width: initial;
      margin: 0;
    }
  }

  .remark-text {
    position: relative;
    margin: auto 0 auto 7px;
  }

  .remark-category {
    color: $color-white;
    border-radius: 5px;
    padding: .5em;
    font-size: 13px;
    display: flex;
  }
}

@each $remark-id, $color in $remarks {
  .remark-category--#{$remark-id} {
    background-color: $color;
    color: $color-white;
    scroll-margin-top: 60px;
  }
  @media screen and (max-width: 1600px) {
    .remark-category--#{$remark-id} {
      scroll-margin-top: 32px;
    }
  }
}
