$cols-rows: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14 ];

@each $num in $cols-rows {
  .grid-col-#{$num}-read-only  {
    grid-column: $num;
    border-left: 1px solid $color-gray-lighter;
  }
  .grid-row-#{$num}-read-only {
    grid-row: $num;
    padding: 10px;
  }
}

.grid-col-1-read-only {
  font-weight: bold;
  border: none!important;
}

@each $row-num in map-values($aim-legs-xlrg-height-config-read-only) {
  .grid-row-#{$row-num}-read-only {
    min-height: 155px;
  }
}

@each $row-num in map-values($aim-legs-lrg-height-config-read-only) {
  .grid-row-#{$row-num}-read-only {
    min-height: 80px;
  }
}

@each $row-num in map-values($aim-legs-sm-height-config-read-only) {
  .grid-row-#{$row-num}-read-only {
    min-height: 40px;
  }
}


