.agenda-item-maintenance-container {
  margin: 10px;

  .expand-arrow {
    float: right;
    position: relative;
    top: 46%;
  }

  .maintenance-container-left {
    background-color: $color-white;
    float: left;
    height: 500px;
    width: 50%;
  }

  .maintenance-container-left-expanded {
    background-color: $color-white;
    float: left;
    height: 500px;
    width: 99%;
  }

  .maintenance-container-right {
    background-color: $color-white;
    float: left;
    height: 500px;
    margin-left: 20px;
    overflow-y: scroll;
    width: 48%;
  }

  .ai-research-content {
    padding-top: 1em;
    position: relative;
  }

  @media screen and (max-width: 1650px) {
    .ai-maintenance-containers {
      display: grid;

      .maintenance-container-left {
        height: 500px;
        width: 99%;

        .expand-arrow {
          display: none;
        }
      }

      .maintenance-container-right {
        height: 500px;
        margin-left: 0;
        margin-top: 20px;
        width: 99%
      }
    }
  }

  .ai-research-pane {
    background-color: $color-white;
    padding: 20px;

    .bid-content-container > div:last-child > div {
      display: inline;
    }
  }
  .hidden {
    display: none!important;
  }
}
