.agenda-controls-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  .agenda-results-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 35px;

    div:first-child {
      margin-right: 10px;
    }

    div {
      align-items: baseline;
      display: flex;
    }
  }
}

.agenda-item-history-container {
  .agenda-controls-container {
    justify-content: flex-end;
  }

  .ai-history-cards-container {
    display: flex;
    flex-wrap: wrap;

    .ai-history-card {
      background-color: $color-white;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      box-shadow: rgb(0 0 0 / 25%) -5px 5px 15px 1px;
      height: 250px;
      width: 350px;
      margin: 25px 15px;
      padding: 15px;
      position: relative;

      .ai-history-card-title {
        display: flex;
        justify-content: space-evenly;
        font-weight: bold;

        .arrow {
          align-items: center;
          display: flex;
          .arrow-tail {
            height: 4px;
            width: 10px;
            background-color: $color-black;
            margin: 3px;
          }
          .arrow-right {
            width: 0;
            height: 0;
            margin: -3px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 8px solid $color-black;
          }
        }
      }

      .ai-history-card-status-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;

        .ai-history-card-pill {
          color: $color-white;
        }

        .ai-history-card-panel-date {
          font-size: small;
        }
      }

      .ai-history-card-legs {
        table {
          margin: 0px;

          td {
            padding: 0;
            border: none;
          }
          th {
            border: none;
            padding: .5rem 1rem;
          }
          .d {
            color: #a9a9a9;
            font-size: small;
            span {
              margin-left: 15px;
            }
          }
          .e {
            text-align: center;
          }
          dt {
            font-weight: bold;
          }
          dd {
            margin: 0 10px;
          }
          tr:not(:first-child) {
            td:last-of-type {
              border-left: 1px solid #a9a9a9 !important;
            }
          }
        }
      }

      .ai-history-card-footer {
        text-align: right;
        bottom: 5px;
        right: 5px;
        position: absolute;
        span {
          font-size: 18px;
          color: #102e51;
        }
        span:hover {
          color: #1a4a82;
          font-size: 20px;
        }
      }
    }

    .first-card {
      border: 1px dashed #102e51;

      .plusIcon {
        font-size: 100px;
        color: #102e51;
        margin: auto;
      }
      .plusIcon:hover {
        font-size: 110px;
        color: #1a4a82;
      }
    }
  }

  .ai-history-rows-container {
      .ai-history-row {
      background-color: $color-white;
      border-radius: 10px;
      box-shadow: rgb(0 0 0 / 25%) -5px 5px 15px 1px;
      margin: 20px 15px;
      padding: 15px;
      position: relative;

      //  candidate for row/card agnostic, if row view oked
      .ai-history-row-status-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;

        .ai-history-row-pill {
          color: $color-white;
        }

        .ai-history-row-panel-date {
          font-size: large;
        }
      }

        //  candidate for row/card agnostic, if row view oked
      .ai-history-card-legs {
        table {
          margin: 0;

          td {
            padding: 0;
            border: none;
            max-width: 300px;
          }
          th {
            border: none;
            padding: .5rem 1rem;
            max-width: 80px;
          }
          .d {
            color: #a9a9a9;
            font-size: small;
            span {
              margin-left: 15px;
            }
          }
          .e {
            text-align: center;
          }
          dt {
            font-weight: bold;
          }
          dd {
            margin: 0 10px;
          }
          tr:hover {
            th, td {
              background-color: $color-gray-lightest;
            }
          }
          // exclude arrow row
          tr:hover:nth-child(5) {
            th, td {
              background-color: transparent;
            }
          }
          td:nth-child(n+2) {
            border-left: 1px solid $color-gray-lighter;
          }
        }
      }
    }

    .first-row {
      border: 1px dashed #102e51;
      display: flex;
      height: 100px;
      padding: 5px;
      .plusIcon {
        font-size: 75px;
        color: #102e51;
        margin: auto;
      }
      .plusIcon:hover {
        font-size: 80px;
        color: #1a4a82;
      }
    }
  }
  .ai-history-footer {
    text-align: right;
    bottom: 5px;
    right: 5px;
    position: absolute;
    span {
      font-size: 18px;
      color: #102e51;
    }
    span:hover {
      color: #1a4a82;
      font-size: 20px;
    }
  }
}
