.agenda-item-history-container {

  .aih-header-container {
    color: $color-black;
    font-family: 'Merriweather';
    font-size: 1em;
    margin-left: 15px;
    padding: 20px 0 0 20px;

    a {
      text-decoration: none;
    }

    .fa {
      padding-right: 10px;
    }

    .aih-title {
      border-bottom: 2px solid $color-black;
      color: $color-black;
    }

    .aih-title-dash {
      padding-left: 5px;
    }
  }

  .agenda-controls-container {
    justify-content: flex-end;

    .agenda-results-controls {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      padding: 0 35px;
    }
  }

  .ai-history-status {
    position: absolute;
    top: 0;
    left: -2px;
    .status-tag {
      color: $color-white;
      display: inline;
    }
    .poly-slash {
      clip-path: polygon(0 0, 100% 0, 20% 100%, 0 100%);
      display: inline-block;
      margin-left: -3px;
      width: 30px;
    }
  }

  .ai-history-edit {
    position: absolute;
    right: 5px;
    text-align: right;

    span {
      color: $bg-blue-dark-0;
      font-size: 18px;
    }

    span:hover {
      color: $tertiary-cool-blue;
      font-size: 20px;
    }
  }

  .button-back-link {
    margin: 15px 0 0 0;
  }

  .create-ai-link {
    color: inherit;
  }

  .arrow {
    color: $bg-gray-dark-2;
    font-size: small;
    span {
      margin-left: 25px;
    }

  }

  .ai-history-cards-container {
    display: flex;
    flex-wrap: wrap;

    .tm-spinner-agenda-item-history {
      left: 50%;
      position: absolute;
      top: 300px;
      img {
        width: 7em;
      }
    }

    .usa-alert {
      width: 100%;
    }

    .ai-history-card {
      background-color: $color-white;
      border-left: 10px solid $color-black;
      border-radius: 10px;
      box-shadow: rgb(0 0 0 / 25%) -5px 5px 15px 1px;
      display: flex;
      flex-direction: column;
      height: 250px;
      margin: 25px 15px;
      padding: 15px;
      position: relative;
      width: 350px;

      .status-tag {
        padding: 3px 20px;
      }
      .poly-slash {
        padding: 3px 0;
      }

      .ai-history-edit {
        top: 5px;
      }

      .ai-history-card-title {
        display: flex;
        font-family: 'Roboto';
        font-size: 1.6rem;
        font-weight: bold;
        justify-content: space-between;
        margin: 30px 0 0 0;

        .title-arrow {
          align-items: center;
          display: flex;

          .arrow-tail {
            background-color: $color-black;
            height: 4px;
            margin: 3px;
            width: 10px;
          }

          .arrow-right {
            border-bottom: 6px solid transparent;
            border-left: 8px solid $color-black;
            border-top: 6px solid transparent;
            height: 0;
            margin: -3px;
            width: 0;
          }

        }

      }

      .ai-history-card-date {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: small;
      }

      .ai-history-card-legs {
        padding-bottom: 5rem;

        table {
          margin: 0px;

          td {
            border: none;
            padding: 0;
          }

          th {
            border: none;
            padding: .5rem 1rem;
          }

          dt {
            font-weight: bold;
          }

          dd {
            margin: 0 10px;
          }

          tr:not(:first-child) {

            td:last-of-type {
              border-left: 1px solid $bg-gray-dark-2 !important;
            }

          }

        }
      }

      .ai-history-card-footer {
        bottom: 5px;
        position: absolute;
        right: 5px;
        text-align: right;

        span {
          color: $bg-blue-dark-0;
          font-size: 18px;
        }

        span:hover {
          color: $tertiary-cool-blue;
          font-size: 20px;
        }

      }

    }
    @media screen and (max-width: 1400px) {

      .ai-history-card {
        margin: 10px;
      }

    }

    .first-card {
      border: 1px dashed $bg-blue-dark-0;

      .plusIcon {
        color: $bg-blue-dark-0;
        font-size: 100px;
        margin: auto;
      }

      .plusIcon:hover {
        color: $tertiary-cool-blue;
        font-size: 110px;
      }

    }
  }

  .ai-history-rows-container {
    .ai-history-row {
      background-color: $color-white;
      border-radius: 10px;
      box-shadow: rgb(0 0 0 / 25%) -5px 5px 15px 1px;
      margin: 20px 15px;
      padding: 15px;
      position: relative;

      .status-tag {
        padding: 5px 20px;
      }
      .poly-slash {
        padding: 5px 0;
      }

      .ai-history-row-panel-date {
        display: flex;
        justify-content: flex-end;
        font-size: large;

        @media screen and (max-width: 1600px) {
          .ai-history-row-panel-date {
            font-size: medium;
          }
        }
      }

      .ai-history-card-legs {
        min-height: 300px;

        table {
          margin-top: 0;
          margin-bottom: 30px;

          td {
            border: none;
            max-width: 300px;
            padding: 0;
          }

          th {
            border: none;
            padding: .5rem 1rem;
            max-width: 80px;
          }

          dt {
            font-weight: bold;
          }

          dd {
            margin: 0 10px;
          }

          tr:hover {

            th, td {
              background-color: $color-gray-lightest;
            }

          }
          // exclude arrow row
          tr:hover:nth-child(5) {

            th, td {
              background-color: transparent;
            }

          }

          td:nth-child(n+2) {
            border-left: 1px solid $color-gray-lighter;
            padding-right: 10px;
          }

        }

      }

    }

    @media screen and (max-width: 1400px) {

      .ai-history-row {
        margin: 20px 0;
      }

    }

    .first-row {
      border: 1px dashed $bg-blue-dark-0;
      display: flex;
      height: 100px;
      padding: 5px;

      .plusIcon {
        color: $bg-blue-dark-0;
        font-size: 75px;
        margin: auto;
      }

      .plusIcon:hover {
        color: $tertiary-cool-blue;
        font-size: 80px;
      }

    }

    .ai-history-edit {
      bottom: 5px;
    }
  }

  .remarks-container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;

    .remarks-text {
      float: left;
      font-size: 1.1em;
      margin-right: .7rem;
      margin-top: 3px;
    }

    .remarks-pill {
      background-color: $primary-blue;
      border-radius: 12px;
      color: $color-white;
      display: inline;
      font-size: .8em;
      margin-bottom: 1rem;
      margin-right: 1.5rem;
      padding: .5em;
    }

    @each $remark-id, $color in $remarks {
      .remark-category--#{$remark-id} {
        background-color: $color;
      }
    }
  }
  
  @media screen and (max-width: 1400px) {

    .profile-content-inner-container {
      padding: 20px 0;

      .button-back-link, .hello-greeting {
        margin-left: 35px;
      }

    }
  }
}
