// generic col styling
// $col-count = 2(Label col and EF col) + leg limit
$col-count: 12;
@for $num from 1 through $col-count {
  .grid-col-#{$num}-read-only  {
    grid-column: $num;
    border-left: 1px solid $color-gray-lighter;
    @if $num == 1 {
      border: none!important;
      font-weight: bold;
    }
  }
}

// generic row styling
// $row-count should be max num in [am, md, lrg]-config-aim-legs-form-read 3 variables
$row-count: 13;
@for $num from 1 through $row-count {
  .grid-row-#{$num}-read-only {
    grid-row: $num;
    padding: 10px;
  }
}

// config styling
@each $row-num in map-values($sm-height-config-aim-legs-form-read) {
  .grid-row-#{$row-num}-read-only {
    min-height: 40px;
  }
}
@each $row-num in map-values($md-height-config-aim-legs-form-read) {
  .grid-row-#{$row-num}-read-only {
    min-height: 80px;
  }
}
@each $row-num in map-values($lg-height-config-aim-legs-form-read) {
  .grid-row-#{$row-num}-read-only {
    min-height: 155px;
  }
}

.aim-form-arrow-read {
  color: $bg-gray-dark-2;
  font-size: small;
  margin-left: 20px;
}
