.tm-alert {
  color: $color-white;
}

.tm-alert-success {
  background-color: $blue-primary;
}

.tm-alert-warning {
  background-color: $color-red;
}

.tm-alert-error {
  background-color: $color-red;
}

.tm-alert-body {
  padding: 15px 20px 25px;
}

.tm-alert-icon {
  float: left;
  padding: 5px 20px 0 0;
}

.tm-alert-text {
  float: left;
}

.tm-alert-heading {
  font-size: 19px;
}

.tm-alert-message {
  font-size: 16px;
  margin-top: 0;
}

.usa-alert {
  padding-bottom: 2.4rem;

  *,
  .usa-alert-body > .usa-alert-text {
    font-family: Roboto;
  }

  h3 {
    font-size: 1.9rem;
  }
}

.usa-alert-text {
  min-height: .5em;
}
