.bidder-manager-page {

  border-top: 1px solid $color-white;

  .bidder-manager-search-container {
    background-color: $bg-blue-dark-1;
    padding: 12px 31px;
  }

  .bidder-manager-upper-section {
    box-shadow: 20px 20px 20px $bg-gray-medium-2;
    padding: 20px 35px;
    background-color: $bg-blue-dark-1;
  }


  @media screen and (max-width: 1525px) {
    .small-screen-stack {
      flex-wrap: wrap;
      float: none;
    }
    .small-screen-stack > div {
      flex-basis: 45%;
      margin: 0 10px;
    }
    .small-screen-stack > div > label,.label {
      min-width: 100px;
    }
  }
  @media screen and (max-width: 1241px) {
    .small-screen-stack {
      width: 100%;
      margin-bottom: 10px;
    }

    .small-screen-stack > div {
      align-items: center;
      display: flex;
      float: right;
      margin: 0 10px 0 0;
    }
  }
  @media screen and (max-width: 890px) {
    .small-screen-stack > div {
      min-width: 300px;
    }
  }
}

.bidder-manager-bidders {
  color: $color-black;
  margin-top: 50px;
  table {
    margin: 0;
    width: 100%;
    thead {
      tr {
        th {
          text-align: center;
          border: none;
          background-color: $tm-white-smoke-light;
        }
        .table-title {
          font-size: 30px;
          font-weight: bold;
        }
        @media screen and (max-width: 1600px) {
          .table-title {
            font-size: 25px;
          }
        }
        @media screen and (max-width: 1400px) {
          .table-title {
            font-size: 20px;
          }
        }
      }
    }
    tbody {
      border: 1px solid $tm-gray;
      td {
        text-align: center;
        border-top: none;
        border-right: none;
        border-left: none;
        padding: 20px 30px;
        font-size: 20px;
      }
      @media screen and (max-width: 1700px) {
        td {
          padding: 10px 15px;
          font-size: 15px;
        }
      }
      @media screen and (max-width: 1400px) {
        td {
          padding: 5px 7px;
          font-size: 13px;
        }
      }
    }
  }
}

.ab-action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  div:nth-child(2) {
    padding: 5px 0px 5px 0px;
  }
}

.ab-table-title-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ab-lower-section {
  padding: 0px 35px 0px 35px;
}

.action-header {
  display: flex;
  justify-content: center;
}
