.tm-beta-header {
  background-color: $tertiary-gold-lighter;
  padding: .5em 0;

  .fa {
    margin-right: 1em;
  }

  .loader {
    display: inline-block;
    width: 100%;

    > div {
      display: inline;
      line-height: 1em;
      white-space: pre-wrap;
    }
  }

  .DraftEditor-editorContainer > div {
    overflow-y: scroll;
  }

  .editor {
    height: 80px;
    padding: 8px;
  }

  .public-DraftEditor-content {
    height: 62px;
    min-height: 62px;
  }

  .description-edit {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .header-row {
    padding-bottom: 1em;
    border-top: 0.5px solid black;
    width: 100%;
    display: block !important;
  }

  .header-row:first-of-type {
    border-top: none;
  }

  .header-row:not(:first-of-type) {
    padding-top: 5px; // padding's do not match
  }

  .banner-toggle-button {
    margin: 0 0 0 50%;
    position: relative;
    bottom: -24px;
    z-index: 1000;
    border-radius: 20px;
    background-color: #fdf0cc;
    color: black;
    border: 3px solid #7d6d40;
    padding-top: 7px;
    padding-bottom: 7px;

    > span {
      background-color: rgb(190, 42, 36);
      display: inline-block;
      padding: 0 0.6rem;
      border-radius: 1.6rem;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.8rem;
      color: white;
      margin-right: 7px;
    }
  }
}
