.tm-beta-header {
  background-color: $tertiary-gold-lighter;
  padding: .5em 0;

  .fa {
    margin-right: 1em;
  }

  .loader {
    display: inline;

    > div {
      display: inline;
      line-height: 1em;
      white-space: pre-wrap;
    }
  }

  .DraftEditor-editorContainer > div {
    overflow-y: scroll;
  }

  .editor {
    height: 80px;
    padding: 8px;
  }

  .public-DraftEditor-content {
    height: 62px;
    min-height: 62px;
  }

  .description-edit {
    margin-left: 5px;
  }

  .header-row {
    padding-bottom: 1em;
    border-bottom: 0.5px solid black;
    width: 100%;
    display: block !important;
  }
}
