.bid-audit-page {
  .position-search--header {
    .results-search-bar {
      .position-search--filters--ba {
        .larger-date-picker {
          .close {
            position: relative;
            left: 190px;
            bottom: 0px;
          }
        }
        .react-datepicker__input-container {
          input {
            width: 240px;
            height: 27px;
          }
        }
      }
    }
  }
  .bid-audit-form {
    .bid-audit-options {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      .filter-div {
        width: 400px;
      }
    }
  }
}
.add-at {
  text-align: right;
}
.position-content--container {
  .position-content--details {
    .definitions {
      .truncate {
        .at-grade-container {
          display: flex;
          justify-content: space-between;
          div:first-child {
            margin-right: 10px;
          }
          div:not(:first-child) {
            min-width: 90px;
          }
          .tm-checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .bid-audit-headers {
            margin-top: 0;
          }
          .bid-audit-card-rows {
            display: flex;
            justify-content: flex-start;
            width: 400px;
            .bid-audit-contents-container {
              width: 60px;
              @media screen and (max-width: 1350px) {
                width: 40px;
              }
              .bid-audit-rows-headers {
                margin-bottom: 5px;
                width: 250px;
              }
              .bid-audit-rows-details {
                width: 300px;
                @media screen and (max-width: 1190px) {
                  width: 200px;
                }
              }
            }
          }
          .edit-at {
            position: absolute;
            top: 30;
            right: 0;
            font-weight: 400;
            font-size: 16px;
          }
          @media screen and (max-width: 1400px) {
            div:not(:first-child) {
              min-width: 50px;
            }
            .bid-audit-card-rows {
              display: flex;
              justify-content: flex-start;
              width: 350px;
            }
          }
          @media screen and (max-width: 1350px) {
            .bid-audit-card-rows {
              display: flex;
              justify-content: flex-start;
              width: 300px;
            }
          }
          @media screen and (max-width: 1180px) {
            .bid-audit-card-rows {
              display: flex;
              justify-content: flex-start;
              width: 250px;
            }
          }
          @media screen and (max-width: 1130px) {
            div:not(:first-child) {
              min-width: 30px;
            }
            .bid-audit-card-rows {
              display: flex;
              justify-content: flex-start;
              width: 230px;
            }
          }
        }
      }
    }
  }
}

.bid-audit-modal-wrapper {
  margin-inline: auto;
  width: 100%;
  height: 400px;
  padding-top: 0px;
}

.bid-audit-modal-input {
  text-align: left;
  textarea {
    border-color: rgb(185, 185, 185);
  }
  .label {
    padding: 5px;
  }
  .picky {
    width: 100%;
    margin: 0px;
  }
  #picky__button__button {
    margin: 0px;
    width: 460px;
    height: 50px;
  }
}

.bid-audit-form-modal {
  .filter-div-modal {
    padding: 10px;
    .label {
      text-align: left;
    }
  }
}
.bid-audit-modal-wrapper {
  .date-picker-validation-container {
    position: relative;
    width: 100%;

    .fa-calendar {
      position: absolute;
      left: 5px;
      top: 2px;
      color: gray;
      z-index: 1;
    }

    .fa-close {
      position: absolute;
      left: 430px;
      top: 2px;
      color: gray;
      z-index: 1;
    }

    .react-datepicker__input-container {
      input {
        padding-inline-start: 30px;
        border-color: rgb(185, 185, 185);
      }
    }

    input {
      font-size: 17px !important;
      color: #212121 !important;
    }

    .react-daterange-picker__calendar,
    .react-datepicker-popper {
      z-index: $daterange-z;
    }

    .react-daterange-picker {
      align-items: center;
      background: $color-white;
      font-size: 13px;
      height: 26px;
      width: 240px;
      margin: 14px 0;

      .react-daterange-picker__wrapper {
        border: none;
        width: 250px;
        .react-daterange-picker__inputGroup {
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }

      .react-daterange-picker__range-divider,
      .react-daterange-picker__inputGroup__leadingZero,
      .react-date-picker__inputGroup__divider {
        color: $color-black;
      }

      .react-daterange-picker__clear-button {
        padding: 2px 4px;
      }

      .react-daterange-picker__clear-button:hover {
        background-color: $color-white;
      }

      .react-daterange-picker__calendar--open {
        z-index: $daterange-z;
      }

      .react-calendar__navigation {
        background-color: $bg-gray-medium-3;
        margin-bottom: 0;
      }

      .react-calendar--selectRange .react-calendar__tile--hover {
        background-color: #e6e6e6;
      }
    }
  }
}
