.bid-tracker-page {
  padding: 20px;
  position: relative;
}

.bid-tracker-container {
  position: relative;
}

.bid-tracker-overlay-alert {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background: black;
}

.bid-tracker {

  font-size: 16px;

  .bid-tracker-card-title-text {
    float: left;
    padding-right: 10px;
  }

  .bid-tracker-card-title-link {
    border-left: 1px solid $color-black;
    float: left;
    padding-left: 5px;

    a {
      padding-left: 5px;
      text-decoration: none;
    }
  }

  .padded-container-inner {
    padding: 15px;
  }

  .bid-tracker-card-bottom-container {
    border-top: 1px solid $color-gray-light;
  }

  .bid-tracker-card-bottom {
    @media screen and (min-width: 0px) {
      .usa-width-one-sixth {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: auto;
      }

      .usa-width-one-half {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%;
      }
    }
  }

  .step-submitted {
    left: -3%;

    .rc-steps-item-tail {
      width: 147%;
    }
  }

  .step-in-panel {
    right: -3%;
  }

  .step-handshake-offered {
    right: -2%;

    .rc-steps-item-tail {
      width: 96%;
    }
  }

  .step-handshake-accepted {
    left: -2%;

    .rc-steps-item-tail {
      width: 147%;
    }
  }

  .icon-complete {
    .fa {
      background: $color-green-dark-opacity50;
      border: 1px solid $color-green-dark-opacity50;
      border-radius: 21px;
      color: $color-white;
      padding: 5px;
    }
  }

  .number-icon {
    background: $blue-primary;
    border: 1px solid $blue-primary;
    border-radius: 35px;
    color: $color-white;
    font-size: 16px;
    padding: 7px 13px;
  }

  .number-icon-incomplete {
    background: $color-gray-light;
    border-color: $color-gray-light;
  }

  .number-icon-needs-action {
    background: $color-green-dark;
    border-color: $color-green-dark;
  }

  .number-icon-is-current-no-action {
    background: $blue-primary;
    border-color: $blue-primary;
  }

  .rc-steps-item-tail {
    left: -8px;
    width: 106%;
  }

  .rc-steps-item-tail::after {
    background: transparent;
    border: 1.5px dashed $color-green-dark-opacity50;
    color: $color-green-dark-opacity50;
    height: 0;
  }

  .step-complete {
    .rc-steps-icon {
      left: -3px;
      top: -3px;
    }

    .rc-steps-item-title {
      color: $color-black;
    }
  }

  .step-incomplete {
    .rc-steps-icon {
      left: -3px;
      top: 2px;
    }

    .rc-steps-item-content {
      margin-top: 14px;
    }

    .rc-steps-item-tail::after {
      background: transparent;
      border: 1.5px solid $color-gray-light;
      color: $color-gray-light;
      height: 0;
    }
  }

  .pending-line {
    .rc-steps-item-tail::after {
      border: 1.5px dashed $blue-primary;
      color: $blue-primary;
    }
  }

  .step-current {
    .rc-steps-item-title {
      color: $color-black;
    }

    .rc-steps-item-content {
      margin-left: 6px;
    }

    .number-icon {
      font-size: 19px;
      padding: 8px 15px;
    }
  }

  .rc-steps-item-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
  }
}
