// set a min-width for the bid tracker card, since it is not optimized for mobile
$card-width: 775px;
$draft-icon-offset: 120px;

.bid-tracker-page {
  position: relative;

  .bid-tracker-greeting {
    margin-bottom: 40px;
  }

  .bid-tracker-content-container {
    position: relative;
  }

  .bid-tracker-notifications {
    margin-bottom: 25px;
  }

  .bid-tracker-greeting-container {
    float: left;
    padding-right: 10px;
  }

  .bid-tracker-cdo-email-container {
    float: left;
  }

  .bid-tracker-cdo-email {
    float: right;
  }

  .bid-tracker-cdo-button {
    font-weight: normal;
    margin-top: 0;

    .fa {
      margin-right: 10px;
    }
  }

  .padded-container-inner {
    padding: 15px;
  }
}

.bid-tracker-container {
  margin-bottom: 30px;
  position: relative;
}

.bid-tracker-overlay-alert {
  background: $color-gray;
  color: $color-white;
  height: 100%;
  left: 0;
  min-width: $card-width;
  opacity: .95;
  position: absolute;
  top: 0;
  width: 100%;

  .bid-tracker-overlay-alert-content-container {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 70%;
  }

  .bid-tracker-overlay-alert-content {
    margin: 0 auto;
    text-align: center;

    .fa {
      font-size: 24px;
    }
  }
}

.bid-tracker-bid-steps-container--draft {
  overflow: hidden;
}

.bid-tracker-overlay-alert--draft,
.bid-tracker-overlay-alert--success {
  background: $color-green-dark;
}

.bid-tracker-overlay-alert--pending {
  background: $tm-navy;
}

.bid-tracker-overlay-alert--closed {
  background: $color-gray;
}

.bid-tracker-overlay-alert--draft {
  margin-left: $draft-icon-offset;

  .bid-tracker-overlay-alert-content-container {
    padding-right: $draft-icon-offset;
    width: 95%;
  }
}

.bid-tracker-overlay-alert--draft::after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid $color-white;
  border-top: 10px solid transparent;
  clear: both;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 43px;
  width: 0;
}

.bid-tracker {

  background: $color-white;
  border: 1px solid $color-gray-light;
  font-size: 16px;
  margin-bottom: 20px;
  min-width: $card-width;

  .step-title-sub-text {
    color: $color-gray;
    font-size: 13px;
  }

  .bid-tracker-card-bottom-section {
    border-right: 1px solid $color-gray-lighter;
    float: left;
    margin-right: 20px;
    max-width: 25%;
    padding-right: 20px;
    width: 25%;
  }

  .bid-tracker-card-bottom-section:last-child {
    border-right: 0;
    flex-grow: 1;
    margin-right: 0;
    padding-right: 0;
  }

  .bid-tracker-organization-container {
    float: left;
    width: 400px;
  }

  .bid-tracker-title-container {
    display: flex;
    margin-bottom: 0;
    padding-top: 18px;
  }

  .bid-tracker-title-content-container {
    flex-grow: 1;
  }

  .bid-tracker-card-title-container-right {
    float: right;
  }

  .bid-tracker-question-text-container {
    float: left;
    font-size: 13px;
    margin: 3px 20px 0 0;

    .fa {
      margin-right: 5px;
    }
  }

  .bid-tracker-actions-container {
    float: left;
  }

  .bid-tracker-bid-steps-container {
    padding-bottom: 25px;
    padding-right: 10%;
    padding-top: 40px;
    position: relative;
  }

  .bid-tracker-card-title-text {
    float: left;
    font-size: 19px;
    font-weight: bold;
    padding-right: 10px;
  }

  .bid-tracker-card-title-link {
    border-left: 1px solid $color-black;
    float: left;
    margin-top: 2px;
    padding-left: 5px;

    a {
      padding-left: 5px;
      text-decoration: none;
    }
  }

  .bid-tracker-card-bottom-container {
    border-top: 1px solid $color-gray-light;
  }

  .bid-tracker-card-bottom {
    display: flex;

    @media screen and (min-width: 0px) {
      .usa-width-one-sixth {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: auto;
      }

      .usa-width-one-half {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%;
      }
    }
  }

  .step-submitted {
    left: -3%;

    .rc-steps-item-tail {
      width: 147%;
    }
  }

  .step-in-panel {
    right: -3%;
  }

  .step-handshake-offered {
    right: -2%;

    .rc-steps-item-tail {
      width: 96%;
    }
  }

  .step-handshake-accepted {
    left: -2%;

    .rc-steps-item-tail {
      width: 147%;
    }
  }

  .icon-complete {
    .fa {
      background: $color-green-dark-opacity50;
      border: 1px solid $color-green-dark-opacity50;
      border-radius: 21px;
      color: $color-white;
      padding: 5px;
    }
  }

  .icon-container {
    position: relative;
  }

  .number-icon {
    background: $blue-primary;
    border: 1px solid $blue-primary;
    border-radius: 35px;
    color: $color-white;
    font-size: 16px;
    padding: 7px 12px;
  }

  .number-icon-incomplete {
    background: $color-gray-light;
    border-color: $color-gray-light;
  }

  .number-icon-needs-action {
    background: $color-green-dark;
    border-color: $color-green-dark;
  }

  .number-icon-is-current-no-action {
    background: $blue-primary;
    border-color: $blue-primary;
  }

  .pending-tooltip {
    color: $color-black;
    font-size: 13px;
    left: -13px;
    position: absolute;
    top: -35px;
    width: 100px;
  }

  .bid-tracker-pending-text-container {
    float: left;
  }

  .bid-tracker-pending-icon-container {
    float: left;
    margin-right: 5px;
  }

  .step-tooltip {
    background: $blue-primary;
    color: $color-white;
    font-size: 13px;
    left: -38px;
    padding: 10px 13px;
    position: absolute;
    top: -58px;
    width: 120px;
  }

  .step-tooltip::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $blue-primary;
    clear: both;
    content: '';
    height: 0;
    left: 48px;
    position: absolute;
    top: 33px;
    width: 0;
  }

  .preparing-tooltip-container {
    left: 50%;
    position: absolute;
  }

  .preparing-tooltip {
    height: 57px;
    left: -55%;
    position: relative;
    top: -71px;
    width: 170px;
  }

  .preparing-tooltip::after {
    left: 42%;
    top: 100%;
  }

  .bid-tracker-rescheduled-text-container {
    float: left;
  }

  .bid-tracker-rescheduled-icon-container {
    float: left;
    margin-right: 10px;
  }

  .bid-tracker-preparing-text-container {
    float: left;
    width: 80%;
  }

  .bid-tracker-preparing-icon-container {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  .rc-steps-item-tail {
    left: -8px;
    width: 106%;
  }

  .rc-steps-item-tail::after {
    background: transparent;
    border: 1.5px dashed $color-green-dark-opacity50;
    color: $color-green-dark-opacity50;
    height: 0;
  }

  .step-complete {
    .rc-steps-icon {
      left: -3px;
      top: -3px;
    }

    .rc-steps-item-title {
      color: $color-black;
    }
  }

  .step-incomplete {
    .rc-steps-icon {
      left: -3px;
      top: 2px;
    }

    .rc-steps-item-content {
      margin-left: 2px;
      margin-top: 18px;
    }

    .rc-steps-item-tail::after {
      background: transparent;
      border: 1.5px solid $color-gray-light;
      color: $color-gray-light;
      height: 0;
    }
  }

  .pending-line {
    .rc-steps-item-tail::after {
      border: 1.5px dashed $blue-primary;
      color: $blue-primary;
    }
  }

  .step-current {
    .rc-steps-item-title {
      color: $color-black;
    }

    .rc-steps-item-content {
      margin-left: 6px;
    }

    .number-icon {
      font-size: 19px;
      padding: 8px 15px;
    }
  }

  .rc-steps-item-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
  }
}

.bid-tracker-alert-container {
  position: relative;
  top: 65px;

  .fa {
    margin-bottom: 10px;
  }

  .sub-text {
    font-size: 13px;
    margin-top: 5px;
  }

  .top-text {
    margin-bottom: 5px;
  }

  button {
    margin-right: 0;
  }

  a {
    color: inherit;
  }
}

.bid-tracker-alert-container--approved {
  top: 35px;
}

.bid-tracker-alert-container--in-panel {
  top: 40px;
}

.bid-tracker-alert-container--handshake-offered {
  top: 30px;

  button {
    margin-right: 30px;
  }
}

.bid-tracker-alert-container--draft {
  top: 35px;

  .remove-bid-link {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    text-decoration: underline;
  }

  .title {
    font-weight: bold;
  }

  .draft-submission-container {
    border-right: 1px solid $color-white;
  }

  .draft-submission-buttons-container {
    max-width: 350px;
  }

  .draft-position-details {
    padding-left: 5%;
    text-align: left;
  }

  .sub-submission-text {
    margin-bottom: 15px;
    margin-right: 14%;
  }

  .tm-button-submit-bid {
    float: left;
    margin-right: 30px;
    padding-left: 10%;
    padding-right: 10%;

    .fa {
      font-size: 1em;
      margin-bottom: 0;
      margin-right: 5px;
    }
  }
}

.bid-tracker-priority-wrapper-container {
  border: 3px solid $color-gold;
  border-top: 0;
  min-width: $card-width;

  .priority-banner {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .priority-banner-container-left {
    float: left;
    font-weight: bold;
  }

  .priority-banner-container-right {
    float: left;
    font-size: 13px;
  }

  .priority-banner-question-text {
    float: right;
    margin-top: 3px;

    .fa {
      margin-right: 5px;
    }
  }

  .bid-tracker {
    border: 0;
  }

  .bid-tracker-priority-wrapper {
    background-color: $color-gold;
  }
}

.bid-tracker-standby-container {
  display: flex;

  .bid-tracker-standby-title {
    background-color: $tm-navy-dark;
    color: $color-white;
    float: left;
    padding: 13px 59px;
    text-align: center;
    width: 270px;
  }

  .bid-tracker-standby-title-top {
    font-size: 16px;
  }

  .bid-tracker-standby-title-bottom {
    font-size: 13px;
  }

  .bid-tracker-standby-content-container {
    flex-grow: 1;
    float: left;
  }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -65px $color-dodger-blue; }
  40% { box-shadow: 0 0 65px $color-dodger-blue; }
  60% { box-shadow: 0 0 65px $color-dodger-blue; }
  100% { box-shadow: 0 0 -65px $color-dodger-blue; }
}

.number-icon-is-current-no-action {
  animation: glowing 2000ms infinite;
}
