@each $remark-id, $color in $borderColor {
    .agenda-status--#{$remark-id} {
        background-color: $color; 
        color: $color;
    }
    .agenda-border--#{$remark-id} {
        border-left: 15px solid $color;
    }
}

