.bureau-card {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  margin-block: 15px;
  background-color: $color-white;
  border: 1px solid $bg-gray-dark-2;
  padding: 16px;
}



.bureau-exception-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  th {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  tr {
    height: 50px;
  }
  tbody {
    td {
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 8px;
    }
  }
  .checkbox-pac {
      width: 1600px;
      text-align: left;
      position: relative;
    }
    .checkbox-pos {
      > div{
        [type=checkbox]:not(:checked) + label::before,
        [type=checkbox]:checked + label::before {
          margin-right: 1.5em;
        }
      }
    }
    .bureau-exception-text-table {
        overflow-y: scroll;
        height: 300px;
    }
}
.bureau-exception-text-input {
    color: red!important;
    padding: 20px 0px;
}
.bel-lower-section {
  overflow-y: clip;
  padding: 0 35px 20px;
  min-width: 1000px;
  .bel-table-head {
    margin-bottom: 0;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    border: 1px solid #AEB0B5;
    tr {
      th {
        background-color: $color-white;
        border: 1px solid $color-gray-lighter;
        margin-bottom: 1em;
        margin-top: 1em;
        padding: 1em;

      }
    }
  }
  .first-header {
    width: 45%;
  }
  .bureau-exception-table {
    .tm-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 1237px) {
    .bel-table-head {
      width: 85%;
    }
  }
  @media screen and (max-width: 1200px) {
    .first-header {
      width: 41%;
    }
  }
}
