.swal-modal {
    width: 500px;
}
.custom-table {
    .checkbox-pos {
        width: 100%;
    }
    .bureau-exception-text-table {
        overflow-y: scroll;
        height: 300px;
    }
    .checkbox-pac {
        min-width: 450px;
        text-align: left;
    }
}
.bureau-exception-text-input {
    padding: 20px 0px;
}

.bureau-card {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $color-white;
    border: 1px solid $bg-gray-dark-2;
    border-left: 8px solid $blue-primary;
    padding: 1em;
    .bs-card--row {
      display: flex;
      align-items: center;
      .bs-card--middle-cols {
        display: flex;
        align-items: center;
        >div {
          color: $color-gray;
          display: flex;
          justify-content: center;
          font-size: 14px;
          min-width: max-content;
        }
      }
      .bs-card--link-col {
        display: flex;
        justify-content: flex-end;
        >span {
          text-align: right;
        }
      }
    }
  }
