.unstyled-button {
  -moz-appearance: unset;
  -webkit-appearance: unset;
  appearance: unset;
  background-color: unset;
  border: unset;
  border-radius: unset;
  color: unset;
  cursor: pointer;
  display: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  margin-bottom: unset;
  margin-right: unset;
  margin-top: unset;
  outline: unset;
  padding: unset;
  text-align: unset;
  text-decoration: unset;
  width: unset;
}

.unstyled-button:hover,
.unstyled-button:active {
  background-color: unset;
}

.tm-button-alt {
  background-color: $color-white;
  border: 1px solid $blue-primary;
  color: $color-black;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    border-bottom: 1px solid $blue-primary;
    color: $color-white;
  }

  .tm-button-alt-icon {
    color: $blue-primary;
    margin-right: 5px;
  }
}

.actions-link-container {
  .actions-link-text {
    float: left;
  }

  .actions-link-icon {
    float: left;
    margin-top: 1px;
    padding-left: 10px;
  }
}

.mail-to-button {
  color: $blue-primary;

  .fa {
    margin-top: 10px;
  }
}
