.unstyled-button {
  margin-top: unset;
  margin-right: unset;
  margin-bottom: unset;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
  background-color: unset;
  border: unset;
  border-radius: unset;
  color: unset;
  cursor: pointer;
  display: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  outline: unset;
  padding: unset;
  text-align: unset;
  text-decoration: unset;
  width: unset;
}
