.unstyled-button {
  -moz-appearance: unset;
  -webkit-appearance: unset;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  outline: unset;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  width: inherit;
}

.unstyled-button:hover,
.unstyled-button:active {
  background-color: transparent;
  color: inherit;
}

.tm-button {
  background-color: $blue-primary;
  border: 1px solid $blue-primary;
  color: $color-white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;

  .fa {
    margin-right: 5px;
  }

  &:hover {
    background: $tm-navy;
    border-bottom: 1px solid $blue-primary;
    color: $color-white;

    .fa {
      color: $color-white;
    }
  }

  &:active {
    background: $tm-navy-dark;
    color: $color-white;

    .fa {
      color: $color-white;
    }
  }

  .tm-button-alt-icon {
    color: $color-white;
    margin-right: 5px;
  }
}

.tm-button-alt {
  background-color: $color-white;
  border: 1px solid $blue-primary;
  color: $color-black;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;

  .fa {
    margin-right: 5px;
  }

  &:hover {
    background: $blue-primary;
    border-bottom: 1px solid $blue-primary;
    color: $color-white;

    .fa {
      color: $color-white;
    }
  }

  &:active {
    background: $tm-navy;
    color: $color-white;

    .fa {
      color: $color-white;
    }
  }

  .tm-button-alt-icon {
    color: $blue-primary;
    margin-right: 5px;
  }
}

.tm-button-transparent {
  background-color: transparent;
  box-shadow: 0 0 0 2px $color-white inset;
  color: $color-white;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-black;
  }
}

.actions-link-container {
  color: $color-black;

  .actions-link-text {
    float: left;
  }

  .actions-link-icon {
    float: left;
    margin-top: 1px;
    padding-left: 10px;
  }
}

.mail-to-button {
  color: $blue-primary;
}

.favorite-container {
  &.usa-button {
    .fa {
      color: $color-white;
    }
  }

  .fa {
    color: $blue-primary;
  }
}

.favorites-button-border {
  border: 1px solid $blue-primary;
  border-radius: 3px;
  padding: 9px 12px;
}

.tm-button-no-box {
  box-shadow: 0 0 0 2px transparent inset;
}

.link-button-wrapper {
  a {
    color: $color-white;
  }
}

.post-data-button {
  .fa {
    margin-right: .5em;
  }
}

.button-back-link {
  font-size: .8em;

  .fa {
    margin-right: 5px;
  }
}
