.candidate-manager-table {
  margin-left: 4em;
  margin-top: .5em;
  .bidder-information {
    color: $primary-blue-darker;
    th {
      background-color: #ffffff00;
      border: none;
    }
  }
  .table-headers {
  }
}