.checklist-modal {
  .row {
    display: flex;
    padding: 10px;
    .checkbox {
      flex: 15%;
      position: relative;
    }
    .text {
      padding: 10px;
      text-align: justify;
      flex: 85%;
    }
  }
  .row-divider:not(:first-child) {
    border-top: 1px dotted $tm-gray;
  }
  .checklist-modal-buttons-container{
    button {
      margin: 10px 30px;
    }
  }
  .title-divider {
    border-top: 1px solid $color-black;
  }
}
