.mb-10 {
  margin-bottom: 10px;
}

.min-width-155 {
  min-width: 155px;
}

.width-70 {
  width: 70px;
}

.width-200 {
  width: 200px;
}

.width-250 {
  width: 250px;
}

.width-280 {
  width: 280px;
}

.width-300 {
  width: 300px;
}

.width-350 {
  width: 350px;
}

.breadcrumb-container {
  margin-top: 40px;

  .breadcrumb-active {
    color: $blue-primary;
    text-decoration: none;
  }

  .breadcrumb-arrow {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.hide {
  visibility: hidden;
}

.box-shadow-standard {
  box-shadow: 0 1px 4px $bg-gray-dark-3;
  -moz-box-shadow: 0 1px 4px $bg-gray-dark-3;
  -webkit-box-shadow: 0 1px 4px $bg-gray-dark-3;
}
