.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-100 { margin-top: 100px; }

.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }

.ml-10 { margin-left: 10px; }

.pt-20 { padding-top: 20px; }

.min-width-155 { min-width: 155px; }

.height-100 { height: 100px; }

.width-70 { width: 70px; }
.width-200 { width: 200px; }
.width-250 { width: 250px; }
.width-280 { width: 280px; }
.width-300 { width: 300px; }
.width-350 { width: 350px; }


.breadcrumb-container {
  margin-top: 40px;

  .breadcrumb-active {
    color: $blue-primary;
    text-decoration: none;
  }

  .breadcrumb-arrow {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@each $group, $values in $filters-sizing-config {
  $label-width: map-get($values, label-width);
  $picky-width: map-get($values, picky-width);
  $grid-size: map-get($values, grid-size) or $label-width + $picky-width + 20;

  .position-search--filters--#{$group} {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid-size, 1fr));

    .filter-div {
      align-items: center;
      display: flex;

      .label {
        margin-right: 10px;
        text-align: end;
        width: $label-width;
      }

      .picky {
        color: $color-black;
        width: $picky-width;
      }
    }
  }
}

.hide { visibility: hidden; }

.align-right { text-align: right; }

.box-shadow-standard {
  box-shadow: 0 1px 4px $bg-gray-dark-3;
  -moz-box-shadow: 0 1px 4px $bg-gray-dark-3;
  -webkit-box-shadow: 0 1px 4px $bg-gray-dark-3;
}
