.comparison-container {
  position: relative;

  h1 {
    font-family: Roboto;
    font-size: 2.4rem;
    font-weight: 400;
  }

  td {
    padding: 1rem;
  }

  .bid-list-button {
    min-width: 100%;
    padding: .75em 1em;
  }

  .post-data-button {
    color: $color-white;
    font-size: .8em;
    margin-bottom: 0;
    margin-top: .8em;
    padding-left: .8em;
    padding-right: .8em;

    span {
      text-align: center;
    }
  }
}

.comparison-outer-container {
  .button-back-link {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
