.position-details-header-container {
  position: relative;
}

.position-details-header {

  background-color: $color-gray-lightest;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 10px;
  position: relative;

  .back-link {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
  }

  .position-details-header-back {
    font-size: .8em;
    min-height: 17px;

    a {
      color: $color-black;
      text-decoration: none;
    }
  }

  .position-details-header-grid {
    overflow: hidden;
  }

  .position-details-header-title {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: uppercase;
  }

  .position-details-header-body {
    font-size: .8em;
  }

  .position-details-header-image {
    bottom: -20px;
    opacity: .25;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 275px;
  }

  @media screen and (max-width: 951px) {
    .position-details-header-image {
      display: none;
    }
  }
}

.position-details-description-container {
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 15px 30px;
}

.position-details-description {

  margin-left: 9%;
  margin-top: 20px;

  .position-details-description-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .position-details-description-section {
    height: 80px;
    margin-bottom: 2em;
    margin-right: 4.5em;
    margin-top: 1em;

    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }

    .title {
      font-size: .8em;
      text-transform: uppercase;
    }

    .description {
      font-size: 1.3em;
    }

  }
}

.position-details-additional {

  margin-bottom: 20px;
  margin-top: 30px;

  .position-details-additional-body {
    font-size: .8em;

    .title {
      font-size: 1.4em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .map-container {
    margin: 40px 0 0 40px;
  }

  @media screen and (max-width: 599px) {
    .map-container {
      margin: 0;
    }
  }

  .map-title {
    font-size: .8em;
  }
}

.offset-bid-button-container {
  left: 63%;
  position: absolute;
  top: 79%;
}

.edit-description-alert-container {
  margin-top: 5px;
}

.edit-description-button-container {
  margin-top: 5px;
}

.editable-position-field {

  margin-bottom: 15px;

  .fa {
    cursor: pointer;
    margin-left: 5px;
  }

  .editor {
    margin-bottom: unset;
    padding: 10px;
  }

  .editor :global(.public-DraftEditor-content) {
    min-height: 10px;
  }
}
