.position-details-header-container {
  background-image: url('#{$asset-path}/assets/img/us-flag.jpg');
  color: $color-white;
  position: relative;
}

.position-details-header {

  overflow: hidden;
  padding: 2em 0;
  position: relative;

  a {
    color: $color-white;
  }

  h1 {
    font-family: inherit;
    font-size: 1em;
    margin: 0;
  }

  .back-link {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
  }

  .position-details-header-back {
    font-size: .8em;
    min-height: 17px;
  }

  .position-details-header-grid {
    overflow: hidden;
  }

  .header-title-container {
    border-right: 1px solid $color-white;
  }

  .position-details-header-title {
    font-size: 1.5em;
    margin-bottom: .2em;
    margin-top: 1em;
    text-transform: uppercase;
  }

  .position-details-header-body {
    font-size: .8em;
  }

  .position-details-header-image {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  @media screen and (max-width: $screen-md-min) {
    .position-details-header-image {
      height: 100%;
    }
  }
}

.position-details-container {

  font-size: .9em;

  h2 {
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
  }

  .data-point-section {
    .condensed-card-data-title {
      font-weight: bold;
      min-width: 200px;
    }
  }

  .positions-section {
    min-height: 100px;
  }

  .positions-section .positions-section-container,
  .positions-section .positions-section-title-header {
    border: 0;
  }

  .positions-section
  .positions-section-title {
    font-family: inherit;
    font-weight: bold;
  }
}

.position-details-description-container {
  margin-bottom: 10px;
  margin-top: 20px;
}

.position-details-description-container:first-of-type {
  padding-top: 30px;
}

.position-details-description {

  margin-left: 9%;
  margin-top: 20px;

  .position-details-description-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .position-details-description-section {
    height: 80px;
    margin-bottom: 2em;
    margin-right: 4.5em;
    margin-top: 1em;

    @media screen and (max-width: $screen-lg-min) {
      margin-right: 0;
    }

    .title {
      font-size: .8em;
      text-transform: uppercase;
    }

    .description {
      font-size: 1.3em;
    }

  }
}

.position-details-additional {

  margin-bottom: 20px;
  margin-top: 30px;

  .position-details-additional-body {
    font-size: .8em;

    .title {
      font-size: 1.4em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .map-container {
    margin: 40px 0 0 40px;
  }

  @media screen and (max-width: $screen-xs-max) {
    .map-container {
      margin: 0;
    }
  }

  .map-title {
    font-size: .8em;
  }
}

.offset-bid-button-container {
  left: 65%;
  position: absolute;
  top: 71%;

  .bid-list-button {
    box-shadow: 5px 10px 20px -4px $color-black-box-shadow;
  }

  .offset-bid-button-container-count {
    min-height: 38px;

    a {
      margin-left: 5px;
      white-space: nowrap;
    }
  }

  .bid-count-list {
    padding: 0;
  }

  .bid-count-list
  li {
    color: $color-white;
  }
}

.edit-description-alert-container {
  margin-top: 5px;
}

.edit-description-button-container {
  margin-top: 5px;
}

.editable-position-field {

  margin-bottom: 15px;

  .editable-position-field-title {
    float: left;
    font-weight: bold;
    margin-right: 5px;
  }

  .tm-spinner {
    height: 50px;
    margin-left: 0;
  }

  .fa {
    cursor: pointer;
    margin-left: 5px;
  }

  .editor {
    margin-bottom: unset;
    padding: 10px;
  }

  .editor :global(.public-DraftEditor-content) {
    min-height: 10px;
  }
}

.poc-section {
  .editable-position-field-title {
    float: none;
  }
}

.about-section-left {
  padding-right: 10%;
}

.position-details-contact-container {
  margin-top: 50px;

  .editor {
    float: left;
    width: 100%;
  }

  .contact-container {
    border: 1px solid $color-gray-lighter;
    padding: 1em;

    .contact-section {
      margin-bottom: 1em;
    }

    .contact-section:last-of-type {
      margin-bottom: 0;
    }
  }

  .contact-container:first-of-type {
    border-bottom: 0;
  }
}

.title-actions-section {
  div {
    color: $color-white;
    float: left;
  }

  .favorite-container .fa {
    color: $color-white;
  }

  .favorite-container span {
    margin-right: 10px;
  }
}
