.filterby-container {
    display: flex;
    margin-top: 20px;

    .filterby-label {
      font-size: 16px;
      margin-bottom: 10px;
      width: 115px;
    }

    .filterby-clear {
      font-weight: bold;

      .fa-times {
        color: $color-red;
        margin-right: 5px;
      }
    }
}

.controls-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 15px;

  div:first-child {
    padding-left: 35px;
  }

  @media screen and (max-width: 1200px) {
    display: block;
  }
}
