// footer container
.tm-footer {
  padding: 0;

  @media screen and (min-width: 600px){
    .usa-grid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .usa-footer-secondary_section a {
    color: $blue-primary;
    text-decoration: none;
  }

  .usa-footer-logo {
    min-height: 100px;
  }

  .usa-footer-logo-img {
    float: left;
  }

  .usa-footer-logo-img-tm {
    margin-top: 10px;
    padding-left: 20px;
  }

  .usa-footer-logo-img-tm-container {
    border-left: 1px solid;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    min-height: 60px;
  }
}

// footer nav
.tm-footer-nav {

  background-color: $tm-dark-blue;
  font-size: 19px;

  .usa-footer-primary-link {
    color: $color-white;
  }

  li {
    line-height: 0;
  }
}

// footer main body
.tm-footer-body {
  background-color: $color-gray-lightest;

  .tm-footer-body-contact {

    padding: 15px;

    .tm-footer-body-contact-item {
      padding: 0 0 12px;
    }
  }
}
