// footer container
.tm-footer {
  padding: 0;
}

// footer nav
.tm-footer-nav {

  background-color: $tm-dark-blue;
  font-size: 19px;

  .usa-footer-primary-link {
    color: $color-white;
  }

  li {
    line-height: 0;
  }
}

// footer main body
.tm-footer-body {
  background-color: $color-gray-lightest;

  .tm-footer-body-contact {

    padding: 15px;

    .tm-footer-body-contact-item {
      padding: 0 0 12px;
    }
  }
}
