// footer container
.tm-footer {
  padding: 0;

  @media screen and (min-width: $screen-sm-min){
    .usa-grid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // scss-lint:disable SelectorFormat
  .usa-footer-secondary_section a {
    color: $blue-primary;
    text-decoration: none;
  }
  // scss-lint:enable SelectorFormat

  .usa-footer-logo {
    min-height: 100px;
  }

  .usa-footer-logo-img {
    float: left;
  }

  .logo-img-seal {
    width: 90px;
  }

  .logo-img-tm {
    width: 250px;
  }

  .usa-footer-logo-img-tm {
    margin-top: 10px;
    padding-left: 20px;
  }

  .usa-footer-logo-img-tm-container {
    border-left: 1px solid;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    min-height: 60px;
  }
}

.usa-footer-primary-section {
  font-weight: 200;
}

// footer nav
.tm-footer-nav {
  background-color: $tm-dark-blue;
  font-size: 16px;
  padding-bottom: 1rem;
  padding-top: 1rem;

  .questions-container {
    color: $color-white;
    float: right;

    a {
      color: $color-white;
      font-weight: 200;
      text-decoration: none;
    }

    .help-text {
      font-weight: normal;
    }
  }

  .usa-footer-primary-link {
    color: $color-white;
    font-weight: 200;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  li {
    line-height: 0;
  }
}

// footer main body
.tm-footer-body {
  background-color: $color-white;
  padding-bottom: 3rem;
  padding-top: 3rem;

  .tm-footer-body-contact {

    padding: 15px;

    .tm-footer-body-contact-item {
      padding: 0 0 12px;
    }
  }
}
