.glossary-editor-page {
  h2 {
    color: initial;
  }

  .hello-greeting {
    float: left;
  }

  .editor-container {
    margin-top: 10px;
  }

  .create-term-container {
    float: right;
    padding-left: 30px;

    button {
      float: right;
    }
  }
}

.glossary-editor-card-container {
  background-color: $color-white;
  border: solid 1px $color-gray-light;
  margin-bottom: 25px;
}

.glossary-editor-card-container:nth-child(even) {
  margin-bottom: 0;
}

.glossary-editor-card {

  h4 {
    font-family: Roboto;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
  }

  .editor-visible--definition {
    background: initial;
    height: initial;
    padding-right: 0;

    .public-DraftEditor-content {
      height: 5em;
      overflow: scroll;
    }
  }

  .editor-visible {
    .editor {
      margin-bottom: 0;
      padding: .3em;
    }

    .public-DraftEditor-content {
      min-height: 0;
    }
  }
}

.glossary-editor-card-top {
  margin-bottom: 10px;
  min-height: 40px;

  .title-container {
    float: left;
    margin-right: 20%;
    width: 50%;
  }

  .link-container {
    width: 100%;

    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .actions-container {
    float: left;
    width: 30%;
  }

  .actions-inner-container {
    float: right;

    div {
      float: left;
    }

    div:nth-child(n+2) {
      margin-left: 10px;
    }
  }
}

.glossary-editor-card-definition {
  background: $color-gray-lightest;
  font-size: 1.1em;
  height: 120px;
  margin-bottom: 30px;
  overflow: scroll;
  padding-right: 10%;
}

.glossary-editor-card-bottom {
  font-size: .9em;

  div {
    float: left;
    margin-right: 5px;
  }

  div:not(:last-child) {
    border-right: 1px solid $color-black;
    padding-right: 5px;
  }

  .archive-link {
    color: $blue-primary;
    text-decoration: underline;
  }
}

.grouped-glossary-listing {
  .term-group {
    margin-bottom: 30px;
  }

  .term-title {
    font-family: 'Roboto';
    font-size: 2em;
    margin-bottom: 15px;
    padding-left: 5px;
  }
}

.editor-hidden--definition {
  min-height: 165px;
}

.editor-visible--definition {
  margin-bottom: 30px;
}

.letter-list-container {
  margin-bottom: 10px;
  padding: 5px;
}

.letters-list {
  .letter-link {
    color: $blue-primary;
    font-size: 1.1em;
    margin-right: .8em;
    text-decoration: underline;
  }
}

.glossary-warning-container {
  min-height: 10px;
}

.editor-container-visible {
  .glossary-warning-container {
    min-height: 30px;
  }
}

.archive-link {
  .fa {
    margin-right: 5px;
  }
}

.glossary-search-bar-container {
  height: auto;

  max-width: 1140px;

  padding: 0 0 15px;

  .homepage-search-legend {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px;
    text-transform: capitalize;
  }

  .search-sub-text {
    font-size: .7em;
    font-style: italic;
    margin: 5px 0 0 10px;
    position: absolute;
    white-space: nowrap;
  }

  label {
    font-size: .8em;
  }

  @media screen and (max-width: $screen-xs-max) {
    fieldset {
      width: 100%;
    }
  }

  .label-input-wrapper {
    width: 100%;

    input {
      height: $input-height;

      &[disabled] {
        background-color: $bg-gray-dark-3;
        cursor: not-allowed;

        &::placeholder {
          color: $color-black;
          opacity: 1;
        }

        &:-ms-input-placeholder { // Internet Explorer 10-11
          color: $color-black;
        }
      }
    }
  }

  .label-icon {
    margin-right: 9px;
  }

  .search-results-inputs {
    float: left;
    padding: 15px 0;

    input {
      border-radius: 5px;
      border-right: solid 1px;
      display: inline-block;
      max-width: 100%;
    }

    label {
      margin: 0 0 5px;
    }
  }

  .search-keyword {
    float: left;
    padding: 15px 0;

    input {
      width: 100%;
    }

    label {
      display: block;
      text-align: left;
    }
  }

  .usa-button {
    min-width: 150px;
    padding: inherit 40px;
  }
}

.glossary-header-container {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
