// scss-lint:disable QualifyingElement
// scss-lint:disable ImportantRule

.tm-glossary {
  $foreground-color: $color-white;

  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto';
  }

  h3 {
    color: $foreground-color;
  }

  fieldset {
    color: $foreground-color;
  }

  .glossary {
    background: $color-gray-darkest;
    border-left: 1px solid $tm-navy-dark;
    bottom: 0;
    overflow-y: scroll;
    padding: 5rem 3rem;
    position: fixed;
    right: 0;
    top: 0;
    transition: right .2s;
    width: 30rem;

    .glossary-hidden {
      display: none !important;
    }
  }

  .glossary-content-container {
    position: relative;
  }

  .glossary-hidden {
    right: -30rem;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  button {
    appearance: none;
    padding: 1.5rem .5rem;
    text-align: left;
  }

  .glossary-content {
    padding: 4rem 0;
  }

  .glossary-search-sub {
    font-style: italic;
  }

  .glossary-close {
    background-color: transparent;
    border: 0;
    color: $foreground-color;
    position: absolute;
    right: 0;
    top: 0;
  }

  .usa-accordion {
    color: $foreground-color;

    li {
      background-color: transparent;
    }

    .usa-accordion-button {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid $foreground-color;
      color: $foreground-color;
    }

    .accordion-item-title {
      font-weight: normal;
      padding-right: 25%;
    }

    .usa-accordion-content {
      background-color: transparent;
      font-size: .8em;
      padding: 1rem;
    }
  }
}
