.hs-status-container {
  display: flex;
  justify-content: center;

  div {
    display: flex;
    justify-content: space-around;
    min-width: 30px;
    font-size: 20px;
    clip-path: polygon(0 25%, 75% 25%, 100% 50%, 75% 75%, 0 75%);
  }

  .inactive {
    background-color: lightgrey;
  }

  .offered, .accepted {
    background-color: limegreen;
  }

  .revoked, .declined {
    background-color: lightcoral;
  }

  .hs-status-bureau {

  }

  .hs-status-bidder {

  }
}


