// header container
.tm-header {

  @media screen and (min-width: 951px) {
    .usa-logo {
      line-height: 7.5rem;
      margin-top: 2rem;
      margin-bottom: 0;

      a {
        img {
          width: 250px;
          height: auto;
        }
      }
    }

    .usa-nav-secondary {
      top: -6.5rem;
    }
  }

  @media screen and (max-width: 950px) {

    .usa-nav-secondary {
      padding-top: 30px;
    }
  }
}
