// header container
.tm-header {

  @media screen and (min-width: 951px) {
    .usa-logo {
      line-height: 7.5rem;
      margin-bottom: 0;
      margin-top: 2rem;

      a {
        font-size: 3.6rem;
      }

      img {
        height: auto;
        width: 250px;
      }
    }

    .usa-nav-secondary {
      top: -6.5rem;
    }
  }

  @media screen and (max-width: 950px) {

    .usa-logo {
      img {
        padding-top: 5px;
      }
    }

    .usa-nav-secondary {
      padding-top: 30px;
    }

    .usa-logo {
      line-height: unset;
    }
  }
}
