.icon-alert-container {
  display: inline-block;
  margin-left: 20px;
  position: relative;

  .alert-icon-badge {
    background-color: $blue-primary;
    border-radius: 20px;
    color: $color-white;
    font-size: 10px;
    font-weight: 200;
    padding-left: 1px;
    position: absolute; // parent should have position: relative
    right: -5px;
    text-align: center;
    top: 18px;
    width: 13px;
  }

  .fa {
    color: $tm-dark-blue;
    font-size: 19px;
    vertical-align: middle;
  }
}

.icon-alert-disabled {
  pointer-events: none;

  .fa {
    color: $color-gray-lighter;
  }
}

.glossary-icon {
  cursor: pointer;

  .fa {
    margin-right: 5px;
  }
}
