.select-blue {
  background-image: $angle-down-blue;
}

.select-black {
  background-image: $angle-down-black;
}

.select-offset {
  background-position-x: calc(100% - 8px);
}

select .select-small {
  background-size: .7em;
  padding: 0 1.5em 0 .7em;
}

.panel-select-box {
  background-color: $color-white;
  background-image: url(/assets/img/angle-down-black.svg);
  background-position-x: calc(100% - 8px);
  border: 1px solid $bg-gray-dark-2;
  border-radius: 3px;
  font-size: 0.9em;
  height: 28px;
  overflow: hidden;
  padding: 0 1.5em 0 0.7em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}
