.select-blue {
  background-image: $angle-down-blue;
}

.select-black {
  background-image: $angle-down-black;
}

.select-offset {
  background-position-x: calc(100% - 8px);
}

select .select-small {
  background-size: .7em;
  padding: 0 1.5em 0 .7em;
}
