.admin-job-categories-page {
  padding: 20px 35px;
  .select-container {
    margin-top: 15px;
    label {
      font-weight: bold;
    }
    .select-dropdown {
      display: inline-block;
      max-width: 300px;
    }
  }
}
