.admin-job-categories-page {
  padding: 20px 35px;
  .select-container {
    margin-top: 20px;
    label {
      font-weight: bold;
    }
    .select-dropdown {
      display: inline-block;
      max-width: 300px;
    }
  }
  .custom-table {
    .checkbox-pos {
      width: 50px;
    }
    .skill-code-column {
      width: 200px;
    }
    .skill-desc-column {
      width: 500px;
    }
  }

  .jc-toggle-container {
    margin-top: 25px;
  }
}
