.navTabs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  .menu-style {
    background-color: $bg-gray-medium-4;
    border-bottom: 3px solid $color-black;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    .tab {
      background-color: $bg-gray-medium-4;
      border-top: 3px solid $bg-gray-medium-4;
      font-size: 13px;
      padding: 5px 10px;
      text-align: center;
    }
    .tab-active {
      background-color: $color-white;
      border-top: 3px solid $dos-blue;
      color: $dos-blue;
    }
    .tab:hover:not(.tab-active) {
      color: $color-black;
      background-color: $bg-gray-medium-2;
      border-top: 3px solid $bg-gray-medium-2;
      cursor: pointer;
    }
  }

  .dd-style {
    select {
      font-size: 13px;
      padding: 5px 10px 5px;
    }
  }
  .dd-style-center {
    margin: auto;
  }
}
