.notification-card {
  display: flex;
  flex-direction: column;
  padding: 0px;

  .notification-card__header {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;

    span:first-of-type {
      font-weight: 600;
      font-size: 18px;
      padding-bottom: 10px;
    }
  }


  .position-content--details {
    dl {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }


  .section-title {
    font-weight: 500;
    font-size: 15px;
  }

  .ordered-assignment {
    padding: 10px 0px 5px;

    span {
      color: $primary-blue;
    }

    span:first-of-type {
      padding-right: 5px;
      color: black;
    }
  }

  .chosen-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 0px;

    >div:first-of-type {
      display: flex;
      flex-direction: row;
    }

    .fa {
      color: $primary-blue;
    }
  }
}

.input-container {
  position: relative;
}

.input-actions {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;

  div:first-of-type {
    padding-right: 15px;
  }

  label {
    margin: 0px;
  }
}