.react-paginate {

  margin: 15px 0 0;

  .disabled {
    display: none;
  }

  ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }

  $border-width: 2px;

  // Set our borders, keeping in mind that the first and last children
  // may be disabled depending on what page the user is on.
  li {
    border: solid 0 solid solid;
    border-width: $border-width;
    color: $color-gray;
    display: inline-block;
    padding: .4em 1em;
  }

  // The second to last element gets a border-right, unlike our general <li>s.
  li:nth-last-child(2) {
    border-right: solid;
    border-right-width: $border-width;
  }

  // The last element has no border-left, but does have a border-right.
  // This would be the "last" page link.
  // Now we have even borders regardless of whether or not the "first" or "last"
  // links are visible.
  li:last-child {
    border-left: 0;
    border-right: solid;
    border-right-width: $border-width;
  }

  a {
    color: $color-black;
    cursor: pointer;
    text-decoration: none;
  }

  .active {
    background: $blue-primary;

    a {
      color: $color-white;
    }
  }
}
