.panel-meeting-agenda-page {
  .panel-meeting-agenda-upper-section {
    background-color: $bg-blue-dark-1;
    box-shadow: 20px 20px 20px $bg-gray-medium-2;
    color: $color-white;
    max-width: none;
    padding: 20px 35px 35px;

    .button-back-link {
      background-color: $primary-blue;
      color: $color-white;
    }

    .cutoff-date-container {
      margin-top: 15px;
      display: inline-grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(2, auto);

      .panel-meeting-agenda-header-data-point {
        align-items: center; 
        display: flex;
        margin: 0 3rem 1.5rem .1rem;

        dd {
          margin-left: 5px;
        }
      }

      .preliminary-cut-off-date {
        margin-left: 10px;
      }

      .addendum-cut-off-date {
        margin-left: 12px;
      }
    }
  }

  .panel-meeting-agenda-filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));

    .filter-div {
      align-items: center;
      display: flex;
      margin-right: 10px;

      .label {
        margin-right: 10px;
        min-width: 115px;
        text-align: end;
      }

      .picky {
        color: $color-black;
        width: 200px;
      }
    }
  }
  .panel-meeting-agendas-rows-container {
    .ai-history-row {
      background-color: $color-white;
      border-left: 15px solid $color-black;
      border-radius: 10px;
      box-shadow: rgb(0 0 0 / 25%) -5px 5px 15px 1px;
      margin: 20px 15px;
      padding: 15px;
      position: relative;

      .status-tag {
        padding: 5px 20px;
      }
      .poly-slash {
        padding: 5px 0;
      }

      .ai-history-row-panel-date {
        display: flex;
        justify-content: flex-end;
        font-size: large;

        @media screen and (max-width: 1600px) {
          .ai-history-row-panel-date {
            font-size: medium;
          }
        }
      }

      .ai-history-card-legs {
        min-height: 300px;

        table {
          margin-top: 0;
          margin-bottom: 30px;

          td {
            border: none;
            max-width: 300px;
            padding: 0;
          }

          th {
            border: none;
            padding: .5rem 1rem;
            max-width: 80px;
          }

          dt {
            font-weight: bold;
          }

          dd {
            margin: 0 10px;
          }

          tr:hover {

            th, td {
              background-color: $color-gray-lightest;
            }

          }
          // exclude arrow row
          tr:hover:nth-child(5) {

            th, td {
              background-color: transparent;
            }

          }

          td:nth-child(n+2) {
            border-left: 1px solid $color-gray-lighter;
            padding-right: 10px;
          }

        }

      }

    }
    .remarks-container {
      display: flex;
      flex-wrap: wrap;
      margin: 15px;

      .remarks-text {
        float: left;
        font-size: 1.1em;
        margin-right: .7rem;
        margin-top: 3px;
      }

      .remarks-pill {
        background-color: $primary-blue;
        border-radius: 12px;
        color: $color-white;
        display: inline;
        font-size: .8em;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        padding: .5em;
      }

      @each $remark-id, $color in $remarks {
        .remark-category--#{$remark-id} {
          background-color: $color;
        }
      }
    }

    @media screen and (max-width: 1400px) {

      .ai-history-row {
        margin: 20px 0;
      }

    }

    .first-row {
      border: 1px dashed $bg-blue-dark-0;
      display: flex;
      height: 100px;
      padding: 5px;

      .plusIcon {
        color: $bg-blue-dark-0;
        font-size: 75px;
        margin: auto;
      }

      .plusIcon:hover {
        color: $tertiary-cool-blue;
        font-size: 80px;
      }

    }

    .ai-history-edit {
      bottom: 5px;
    }

    .ai-history-status {
      position: absolute;
      top: 0;
      left: -2px;
      font-family: 'Roboto';
      .status-tag {
        background-color: $color-black;
        color: $color-white;
        display: inline;
      }
      .poly-slash {
        background-color: $color-black;
        clip-path: polygon(0 0, 100% 0, 20% 100%, 0 100%);
        color: $color-black;
        display: inline-block;
        margin-left: -3px;
        width: 30px;
      }
    }
  }

  .panel-meeting-agendas-header {
    margin-left: 20px;
    font-family: 'Roboto';
  }
}
