.panel-results-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 0px;

    div:first-child {
        margin-right: 10px;
    }

    div {
        align-items: baseline;
        display: flex;
    }
}

.panel-results-controls-right {
    align-items: center;
    display: flex;
    justify-content: right;
    padding-right: 15px;

    .results-viewby-container {
        min-width: 120px;
    }
}

// .panel-results-controls {
//     align-items: baseline;
//     display: flex;
//     justify-content: right;
//     padding-right: 35px;
//     margin-right: 50px;

//     .results-viewby-container {
//       min-width: 120px;
//     }
// }
