.panel-admin-tabs-container {
  padding: 20px 35px;

  .panel-admin-content {
    margin-left: 20px;

    th {
      font-weight: bold;
    }
    .tm-spinner{
      margin-top: 125px;
    }
  }

  .hello-greeting {
    margin-bottom: 25px;
  }
}
