.panel-meeting-agenda-page {
    .panel-meeting-agenda-upper-section {
        background-color: $bg-blue-dark-1;
        box-shadow: 20px 20px 20px $bg-gray-medium-2;
        color: $color-white;
        max-width: none;
        padding: 20px 35px 35px;

        .cutoff-date-container {
          float: right;
          margin-right: 9em;

          .preliminary-cut-off-date {
            margin-left: 10px;
          }
          
          .addendum-cut-off-date {
            margin-left: 12px;
          }
        }
    }
}
