.panel-meeting-agenda-page {
  .button-back-link {
    background-color: $primary-blue;
    color: $color-white;
  }

  .panel-meeting-agendas-rows-container {
    .pma-category-header{
      font-family: 'Roboto';
      font-size: 26px;
      padding: 10px 0 10px 0;
      margin: 0 15px 0 20px;
      border-top: solid 3px $color-gray-light;
    }

    .total-results {
      margin: 20px 15px 20px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ai-history-row {
      .ai-history-row-panel-date {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        height: 19px;
      }

      .panel-meeting-person-data {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        gap: 10px;
        align-items: baseline;
        background: linear-gradient(white, white) padding-box, linear-gradient(to right, #d6d7d9, #d6d7d900) border-box;
        border-bottom: 2px solid transparent;
      }

      .ai-history-card-legs {
        min-height: 300px;

        table {
          margin-top: 0;
          margin-bottom: 30px;

          td {
            border: none;
            max-width: 300px;
            padding: 0;
          }

          th {
            border: none;
            padding: 8px 10px;
            max-width: 80px;
          }

          dt {
            font-weight: bold;
          }

          dd {
            margin: 0 10px;
          }

          tr:hover {

            th, td {
              background-color: $color-gray-lightest;
            }

          }
          // exclude arrow row
          tr:hover:nth-child(7) {

            th, td {
              background-color: transparent;
            }

          }

          td:nth-child(n+2) {
            border-left: 1px solid $color-gray-lighter;
            padding-right: 10px;
          }

        }

      }

    }

    @media screen and (max-width: 1400px) {

      .ai-history-row {
        margin: 20px 0;
      }

    }

    .first-row {
      border: 1px dashed $bg-blue-dark-0;
      display: flex;
      height: 100px;
      padding: 5px;

      .plusIcon {
        color: $bg-blue-dark-0;
        font-size: 75px;
        margin: auto;
      }

      .plusIcon:hover {
        color: $tertiary-cool-blue;
        font-size: 80px;
      }
    }

    div[role=button]:focus {
      outline: none!important;
    }
  }

  .panel-meeting-agendas-header {
    margin-left: 20px;
    font-family: 'Roboto';
  }

  .panel-meeting-maintenance-link-container {
    min-width: 110px;
    font-size: 13px;
    a {
      display: block;
    }
  }

  .panel-meeting-agendas-profile-link {
    font-weight: bold;
    font-size: 1.8rem;
    flex-shrink: 0;
  }
}

.panel-meeting-agendas-user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5px;

  .item {
    font-size: 1.4rem;
    margin-left: 10px;
    .label {
      font-weight: bold;
    }
  }
}

.ai-updater-creator {
  min-width: 200px;
  font-size: 12px;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .ai-updater-creator-name {
    padding-right: 5px;
  }
  .date {
    font-size: 10px;
    align-self: center;
  }
}

// ---------------------------- Panel Meeting Print View

@media print {
  .profile-menu {
    display: none;
  }
  .search-bar-hidden {
    display: none;
  }
  .tm-footer {
    display: none;
  }
  .pma-print-close-icon {
    display: none;
  }
  .Toastify {
    display: none;
  }
  @page {
    size: landscape
  }
}

.pma-print-view {
  padding: 30px;
  .pma-print-close-icon {
    color: $alert-red;
    font-size: 2.2rem;
  }

  .tracker-container {
    display: flex;
    align-items: center;
    .tracker {
      .step-label {
        text-align: left;
      }
      .step-description {
        text-align: left;
      }
    }
  }

  .pma-print-header {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    margin-left: -10px;
    border-top: solid 3px $primary-gray-dark;
  }
  .pma-table-wrapper {
    border-top: 2px solid gray;
    break-inside: avoid;
  }

  .pma-print-history-status {
    font-family: 'Roboto';
    display: flex;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    .pma-print-official-item-number {
      font-size: 16px;
      padding: 5px 20px;
      color: $color-white;
    }
    .status-tag {
      color: $color-white;
      display: flex;
      align-items: center;
      min-width: 100px;
      font-size: 16px;
    }
    .poly-slash {
      padding: 5px 0;
      clip-path: polygon(0 0, 100% 0, 20% 100%, 0 100%);
      display: inline-block;
      width: 30px;
    }
  }

  .pma-print-user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      font-size: 1.4rem;
      margin-left: 20px;
      .label {
        font-weight: bold;
      }
    }
  }

  .pma-print-table {
    width: 100%;
    font-size: 12px;
    margin: 5px 0 10px 0;
    th {
      padding: 5px 10px 5px 10px;
      border-right: none;
      border-left: none;
    }
    td {
      border: none;
      text-align: left;
      padding: 5px 10px 5px 10px;
    }
  }

  .pma-footer-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .pma-cdo-remarks-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 5px;
  }
  .pma-created-modified-wrapper {
    align-self: flex-end;
    padding-bottom: 10px;
    .pma-date-stamp-wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 5px;
      .date {
        font-size: 10px;
        margin-left: 10px;
      }
      .stamp {
        font-size: 10px;
      }
    }
  }

  .item {
    font-size: 1.4rem;
    padding: 5px;
    .label {
      font-weight: bold;
    }
  }
}
