.panel-results-controls {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;

    div:first-child {
        margin-right: 10px;
    }

    div {
        align-items: baseline;
        display: flex;

        label {
            min-width: 6rem;
        }

    }
}

.panel-results-controls-right {
    align-items: center;
    display: flex;
    justify-content: right;
    padding-right: 15px;
}

.panel-results-select {
    height: 38px;
    font-size: small;
}
