.panel-meeting-agenda-page {
  .button-back-link {
    background-color: $primary-blue;
    color: $color-white;
  }

  .pma-pm-info {
    background-color: #BFB9B0;
    border: 1px solid #BFB9B0;
    border-radius: 10px;
    cursor: pointer;
    height: 41px;
    margin: 30px 20px;
    width: 260px;
    transition: all 1s linear;
  }

  .pma-pm-info-expanded {
    background-color: #E4E1DD;
    border: 3px solid #BFB9B0;
    height: 250px;
    width: 98%;
    transition: border 1s, background-color 1s, width 2s, height 2s;
    @media screen and (max-width: 1500px) {
      width: 95%;
    }
  }

  .pma-pm-info-title {
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    width: 255px;
    border-radius: 10px;
    background-color: #BFB9B0;
    transition: all 1s linear;
  }
  .pma-pm-info-title-expanded {
    border-radius: 7px 0 10px 0;
    width: 260px;
    transition: all 1s linear;
  }

  .tracker-container {
    padding: 30px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  .hideTracker {
    opacity: 0;
    transition: all 0s linear;
  }
  .showTracker {
    opacity: 100%;
    transition: all 2s linear .5s;
  }

  .panel-meeting-agendas-rows-container {
    .pma-category-header{
      font-family: 'Roboto';
      font-size: 26px;
      padding: 10px 0 10px 0;
      margin: 0 15px 0 20px;
      border-top: solid 3px $color-gray-light;
    }

    .total-results {
      margin: 20px 15px 20px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ai-history-row {
      .ai-history-row-panel-date {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        height: 19px;
      }

      .panel-meeting-person-data {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        gap: 10px;
        align-items: baseline;
        background: linear-gradient(white, white) padding-box, linear-gradient(to right, #d6d7d9, #d6d7d900) border-box;
        border-bottom: 2px solid transparent;
      }

      .ai-history-card-legs {
        min-height: 300px;

        table {
          margin-top: 0;
          margin-bottom: 30px;

          td {
            border: none;
            max-width: 300px;
            padding: 0;
          }

          th {
            border: none;
            padding: 8px 10px;
            max-width: 80px;
          }

          dt {
            font-weight: bold;
          }

          dd {
            margin: 0 10px;
          }

          tr:hover {

            th, td {
              background-color: $color-gray-lightest;
            }

          }
          // exclude arrow row
          tr:hover:nth-child(7) {

            th, td {
              background-color: transparent;
            }

          }

          td:nth-child(n+2) {
            border-left: 1px solid $color-gray-lighter;
            padding-right: 10px;
          }

        }

      }

    }

    @media screen and (max-width: 1400px) {

      .ai-history-row {
        margin: 20px 0;
      }

    }

    .first-row {
      border: 1px dashed $bg-blue-dark-0;
      display: flex;
      height: 100px;
      padding: 5px;

      .plusIcon {
        color: $bg-blue-dark-0;
        font-size: 75px;
        margin: auto;
      }

      .plusIcon:hover {
        color: $tertiary-cool-blue;
        font-size: 80px;
      }
    }

    div[role=button]:focus {
      outline: none!important;
    }
  }

  .panel-meeting-agendas-header {
    margin-left: 20px;
    font-family: 'Roboto';
  }

  .panel-meeting-agendas-user-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5px;

    @media screen and (min-width: 1680px) {
      flex-direction: row;
    }

    .item {
      font-size: 1.4rem;
      margin-left: 10px;
      .label {
        font-weight: bold;
      }
    }
  }
  .maintenance-link-container {
    width: 190px;
    .ml {
      font-size: 13px;
      float: right;
      .fa-cog {
        padding: 0 3px;
      }
    }
  }

  .panel-meeting-agendas-profile-link {
    font-weight: bold;
    font-size: 1.8rem;
    flex-shrink: 0;
  }
}

.ai-updater-creator {
  min-width: 200px;
  font-size: 12px;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .ai-updater-creator-name {
    padding-right: 5px;
  }
  .date {
    font-size: 10px;
    align-self: center;
  }
}
