.panel-meeting-type-container {
  min-width: 115px;
}

.panel-meeting-row-name {
  color: $primary-blue;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.panel-status {
  margin-left: 5px;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 11px;
  display: inline;
  padding: 5px;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.progress-container {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

@each $status, $color in $panelStatuses {
  .panel-status--#{$status} {
    background-color: $color;
  }
}
