.position-content--container {
  position: relative;

  .toggle-include {
    position: absolute;
    top: -45px;
    right: -10px;
    z-index: 1;
  }
}

.position-content {

  // ============= GLOBAL =============

  .position-content--section {
    display: flex;
  }

  .definition-title {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 7px;
    color: black;
  }


  // ============= SUBHEADER =============

  .position-content--subheader {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: none;
    }
  }

  .line-separated-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      span:first-of-type {
        font-weight: 500;
        padding-right: 5px;
      }

      span {
        font-size: 15px;
      }

      &:not(:last-child) {
        padding-right: 7px;
        margin-right: 7px;
        border-right: 1px solid black;
      }
    }
  }

  .toggle-edit-mode {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: $primary-blue;
    padding: 0px;
    margin: 0px;
    font-size: 16px;

    .fa {
      margin-right: 6px;
    }

    &:hover {
      div {
        text-decoration: underline;
      }
    }
  }


  // ========== BODY ==========

  .position-content--details {
    dl {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      column-gap: 15px;

      >div {
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
        padding-left: 0px;
      }

      dt,
      dd {
        display: inline-flex;
        margin: 0;
        padding: 0;
      }

      dt {
        color: $color-black;
        font-size: 15px;
        margin-bottom: 7px;
      }
    }
  }

  .word-count {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 14px;
  }

  .disabled-input {
    background-color: $bg-gray-medium-2;
    color: $color-gray;
  }

  .enabled-input {
    background-color: white;
    color: $color-gray;
  }

  .tm-checkbox {
    padding-bottom: 10px;

    label {
      margin-top: 0px;
    }
  }

  .tm-checkbox {
    margin: 0px;

    label {
      font-size: 15px;
      color: black;
    }
  }


  // ============= FOOTER =============

  .position-content--footer {
    display: flex;
    justify-content: flex-end;
  }

  .position-content--metadata {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px 0px;

    span:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  .toggle-more-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .toggle-more {
    color: $primary-blue;
    position: relative;

    .fa {
      padding: 0px;
    }
  }
}