// Nesting depth was needed, otherwise styles broke if placed outside of parent class (.expandable-link)
.profile-page {
  border: solid 0 1px 1px 1px $color-gray-light;
  display: flex;
  position: relative;
  width: 100%;

  .saved-search-parent-container {
    min-height: 300px;
  }

  .notifications-top {
    min-height: 155px;
  }

  .section-padded-inner-container {
    padding: 15px;
  }

  .hello-greeting {
    font-family: Merriweather;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .usa-grid-full {
    max-width: none;
  }

  .favorite-positions-container {
    position: relative;

    .favorites-top-section {
      margin-bottom: 1.2em;
    }

    .condensed-card {
      margin-bottom: 35px;
    }

    .favorites-title-container {
      float: left;
    }

    .results-dropdown {
      float: right;
    }
  }

  .bidder-portfolio-container {
    position: relative;
  }

  .bidder-portfolio-listing {
    margin-right: 15%;
    position: relative;
  }

  @media screen and (max-width: $screen-md-min) {
    .bidder-portfolio-listing {
      margin-right: unset;
    }
  }

  .actions-container {
    float: right;
    margin-bottom: 5px;

    button {
      font-size: 15px;
      margin-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .portfolio-controls {
    margin-bottom: 25px;
  }

  .profile-subroute-container {
    border: 1px solid $color-gray;
    min-height: 300px;
  }

  .saved-search-card {
    min-height: 50px;
    padding: 5px 10px;
  }

  .saved-searches-container {
    position: relative;

    .searches-top-section {
      margin-bottom: 1em;
    }

    .searches-title-container {
      float: left;
    }

    .usa-form {
      float: right;
    }
  }

  .bid-list-delete-button-container {
    margin-top: .5em;
  }

  .profile-content-container {
    background-color: $tm-white-smoke-light;
    border-left: solid 1px $color-gray-light;
    flex-grow: 1;
    min-height: 700px;
    right: 0;
    width: auto;
  }
}

.user-dashboard {
  font-size: 15px;
  position: relative;

  .user-dashboard-section-container {
    float: left;
  }

  .user-dashboard-section {
    background-color: $color-white;
    border: solid 1px $color-gray-light;
    margin-bottom: 25px;
  }

  .user-dashboard-column-1 {
    min-height: 500px;
  }

  .user-dashboard-column-2 {
    min-height: 500px;
  }

  .user-dashboard-column-3 {
    min-height: 700px;
  }

  .current-user-section {
    min-height: 350px;
  }

  .current-user-section-container:last-child {
    border-bottom: 0;
    border-top: 0;
    word-wrap: break-word;
  }

  .current-user-top {
    border-bottom: 1px solid $color-gray-light;
    text-align: center;
  }

  .current-user-bid-information {
    border-bottom: 1px solid $color-gray-light;
    text-align: left;
  }

  .current-user-personal-information {
    border-bottom: 1px solid $color-gray-light;
    min-height: 150px;
    text-align: left;

    .skill-code-data-point-container:last-child {
      margin-bottom: 0;
    }
  }

  .bid-count-container {
    float: left;

    .data-point-content {
      text-decoration: underline;
    }
  }

  .bid-count-container-left {
    width: 40%;
  }

  .bid-count-container-right {
    width: 60%;
  }

  .bid-count-right {
    border-left: 1px solid $color-gray-light;
    padding-left: 20%;
  }

  .data-point-side-by-side {
    .data-point-title {
      float: left;
      font-size: 15px;
      padding-right: 5px;
    }

    .data-point-content {
      float: left;
    }
  }

  .cdo-section {
    min-height: 50px;
  }

  .position-info-section {
    min-height: 250px;
  }

  .notifications-section {
    min-height: 250px;
  }

  .bidlist-section {
    min-height: 300px;
  }

  .inbox-section {
    min-height: 300px;
  }

  .dashboard-section-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;

    .fa {
      margin-right: 5px;
    }

    h2 {
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin: inherit;
    }
  }

  .dashboard-section-title-small {
    font-size: 15px;
  }

  .data-point-container {
    margin-bottom: 10px;
  }

  .data-point-title {
    color: $color-gray;
    font-size: 12px;
  }

  .data-point-content {
    font-size: 15px;
  }

  .section-padded-inner-container {
    padding: 15px;
  }

  .section-padded-inner-container-narrow {
    padding: 10px 15px;
  }

  .padded-container-no-bottom {
    padding-bottom: 0;
  }

  .edit-profile-link {
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: uppercase;

    a {
      color: $blue-primary;
      text-decoration: none;
    }
  }

  .dashboard-user-profile-picture {
    display: inline-block;
    height: $avatar-size;
    margin: 1em 0;
    vertical-align: middle;
    width: $avatar-size;
  }

  .start-end {
    .fa {
      color: $color-green;
      margin: 0 5px;
    }
  }

  .current-user-name {
    margin-bottom: 5px;
  }
}

$total-padding: 28px;
$border: 5px;
$padding-no-border: $total-padding - $border;

.profile-menu {

  font-size: 15px;
  height: 100%;
  min-width: 200px;

  .fa-container {
    float: left;
    min-width: $total-padding;
  }

  .title-container {
    float: left;
  }

  .angle-container {
    float: right;
  }

  .icon-padding {
    padding: 3px 0;
  }

  .link-unhighlighted {
    border-left: $border solid transparent;
  }

  .link-highlighted {
    background-color: $color-blue-light;
    border-left: $border solid $blue-primary;

    .title-container {
      font-weight: bold;
    }
  }

  .list-item-wrapper {
    padding-left: $padding-no-border;
    padding-top: 5px;
  }

  .expandable-link {
    border-left: unset;
    margin-bottom: 7px;

    .list-item-wrapper {
      padding-left: $total-padding;
    }

    ul {
      .link-unhighlighted {
        border-left: unset;
        padding-left: $border;
      }
    }
  }

  .children-ul {
    margin-top: .5em;

    .list-item-wrapper {
      padding-left: 50px;
    }
  }

  .menu-title {
    font-weight: bold;
    padding: 10px 15px 20px 30px;

    .unstyled-button {
      color: inherit;
      float: right;
    }

    .menu-title-text {
      float: left;
    }
  }

  a {
    color: $color-black;
    display: inline-block;
    width: 100%;
  }

  li {
    cursor: pointer;
    line-height: 1.5;
    margin-bottom: unset;
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0;

    .fa {
      margin-right: 10px;
    }
  }
}

.profile-menu-collapsed {
  min-width: 65px;

  .menu-title {
    padding-bottom: 2px;
    padding-right: 0;

    .unstyled-button {
      float: none;
    }
  }
}

.bidder-portfolio-navigation-item {
  float: left;
  font-size: 15px;
  margin-right: 30px;
  padding: 15px 0;

  a {
    color: $color-black;
    text-decoration: none;
  }
}

.portfolio-top-nav-container {
  border-bottom: 1px solid $color-black;
  margin-bottom: 30px;

  .is-underlined {
    border-bottom: 6px solid $color-black;
    border-spacing: 6px;
  }

  .is-not-underlined {
    border-bottom: 6px solid transparent;
    border-spacing: 6px;
  }
}

.portfolio-total-results {
  font-size: 24px;
  font-weight: bold;
}

.portfolio-sort-container {
  select {
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: unset;
  }

  .usa-form {
    float: right;
  }
}

.navigation-item-fraction {
  font-weight: bold;
}

.bordered-list {
  ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1em;
  }

  .bordered-list-content {
    border-left: 5px solid $blue-primary;
  }
}

.cdo-container {

  font-size: 16px;

  .cdo-container-inner {
    display: flex;
  }

  .dashboard-user-profile-picture {
    border-radius: 100%;
    height: 100%;
    margin-bottom: unset;
    max-height: 40px;
    max-width: 40px;
    width: 100%;
  }

  .profile-picture-container {
    min-width: 50px;
    position: relative;
  }

  .picture-status-container {
    left: 30px;
    position: absolute;
    top: -2px;
  }

  .cdo-name-text {
    float: left;
    margin-right: 5px;
  }

  .status-container {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 1px;
  }
}

.cdo-text-container {
  flex-grow: 1;
  padding-left: 5px;
}

.cdo-header {
  font-weight: bold;
}

.small-link-container {
  font-size: 12px;

  a {
    color: $blue-primary;
    text-decoration: none;
  }
}

.small-link-container-settings {
  a {
    display: inline-block;
    padding-top: 5px;
  }
}

.view-more-link-centered {
  border-top: 1px solid $color-gray-light;
  text-align: center;

  a {
    color: $blue-primary;
    text-decoration: none;
  }
}

.saved-search-card {
  .bid-list-card-title-position {
    font-weight: bold;
    text-transform: uppercase;
  }

  .bid-list-card-title-post {
    font-weight: bold;
  }

  .bid-list-card-title-status {
    text-transform: capitalize;

    .fa {
      margin-right: 5px;
    }
  }

  .bid-status-declined {
    color: $alert-red;
  }
}

.bid-list-header {
  background-color: $blue-primary;
  color: $color-white;

  .bid-list-header-button-container {

    text-align: right;

    .bid-list-header-button {
      border: 1px solid $color-white;
      font-size: 12px;
      padding: 5px 25px;
    }
  }

  .fa {
    margin-right: 5px;
  }
}

.bid-list-container {
  background-color: $tm-navy;
  color: $color-white;
  font-size: 1.1em;
  max-height: 450px;
  min-height: 260px;
  overflow-y: scroll;

  .primary-text {
    text-transform: uppercase;
  }

  .bid-list-content {
    margin-top: 85px;
    text-align: center;
  }

  .button-wrapper {
    display: inline-block;
    text-align: center;
  }

  a {
    font-size: .8em;
  }
}

.parent-container-bid-status-declined {
  background-color: $color-gray-lightest;

  .fa {
    color: $alert-red;
  }

  .bordered-list-content {
    border-left: 5px solid $alert-red;
  }
}

.parent-container-bid-status-hand-shake-offered {
  background-color: $color-green-light;

  .fa {
    color: $color-green;
  }

  .bordered-list-content {
    border-left: 5px solid $color-green;
  }
}

.parent-container-bid-status-closed {
  background-color: $color-gray-lightest;

  .bordered-list-content {
    border-left: 5px solid $color-black;
  }
}

.parent-container-bid-status-hand-shake-accepted {
  background-color: $color-green-light;

  .bordered-list-content {
    border-left: 5px solid $color-green;
  }
}

.parent-container-bid-status-approved {
  background-color: $blue-primary-light;

  .fa {
    color: $blue-primary;
  }
}

.notification-card {
  padding: 0 10px;
}

.profile-content-inner-container {
  padding: 20px 35px;
}

.dismiss-alt {
  .dismiss-button {
    background-color: transparent;
  }

  .dismiss-button:active {
    .fa {
      color: $color-black;
    }
  }
}

.user-dashboard-main {
  margin-right: 5%;
}

.profile-section-container {
  .tm-button-transparent {
    border: 1px solid $color-black;
    color: $color-black;
    float: right;
    font-size: .8em;
    padding: .7em 2em;
  }
}

.favorites-list-container {
  .parent-list-container {
    background-color: $color-white;

    .fa {
      color: $blue-primary;
    }

    .bordered-list-content {
      border-left: 5px solid $blue-primary;
    }
  }

  .favorites-card-section {
    float: left;
  }

  .saved-search-card {
    padding: 5px 15px;
  }

  .data-point-container {
    margin-bottom: 0;
  }
}

.saved-search-pill {
  background-color: $blue-primary;
  border-radius: .7em;
  color: $color-white;
  float: left;
  font-size: .8em;
  margin: 0 .7em .5em 0;
  padding: .2em .7em;
}

.saved-searches-list-profile-container {
  min-height: 260px;
  position: relative;

  .list-transparent {
    padding-left: .8em;

    .bordered-list-content {
      border-color: transparent;
    }
  }

  li {
    border-bottom: 1px solid $color-gray-light;

    &:last-child {
      border: 0;
    }
  }

  .tm-button-transparent {
    padding: .7em 3em;
  }
}

.saved-search-list-container {
  min-height: 260px;
}
