.favorite-positions-container {
  position: relative;
}

.profile-subroute-container {
  border: 1px solid $color-gray;
  min-height: 300px;
}

.saved-search-card {
  border-top: 1px solid $color-black;
  min-height: 50px;
  padding: 10px;
}

.saved-searches-container {
  position: relative;
}
