.results {

  // dropdown labels should appear to the left of the input
  label {
    float: left;
    font-size: .8em;
    margin-right: 10px;
    margin-top: 6px;
  }

  .results-dropdown {
    select {
      background-color: $color-gray-lightest;
      border: 0;
      border-radius: 7px;
      font-size: .8em;
      height: 28px;
      overflow: hidden;
      padding: 0 .7em;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 130px;
    }
  }

  .results-dropdown-page-size {
    select {
      width: 80px;
    }
  }

  .no-results {
    margin-top: 20px;
    width: 350px;
  }
}

.results-loading {
  opacity: .5;
  pointer-events: none;
}

.results-card {
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  border-left-width: 8px;
  margin-bottom: 1em;
  padding: 1em 1.2em;

  .results-card-title {
    float: left;
  }

  .results-card-favorite {
    float: right;
    font-size: .8em;
  }

  .results-card-data-section {
    border-right: solid;
    border-width: 1px;
    margin-top: 1em;
  }

  .data-section {
    margin-top: 1em;
  }

  .data-section-left {
    margin-right: 40px;
  }

  .data-section-right {
    margin-left: 40px;
  }

  .section-title {
    font-size: .8em;
    margin-bottom: .6em;
  }

  .section-data-points {
    font-size: .8em;
  }

  .bottom-section {
    float: left;
    margin-top: 1em;

    .details-button {
      float: left;
    }

    .compare-check {
      float: left;
      font-size: .8em;
      margin: 15px;
    }
  }
}
