// use consistent padding for main content in condensed views
.mobile-nav {
  .mobile-nav-only {
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }
  }
}

.desktop-nav-only {
  @media screen and (max-width: $screen-sm-max) {
    display: none;
  }
}

.padded-main-content {
  @media screen and (max-width: $screen-lg-min) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
