.results {

  // dropdown labels should appear to the left of the input
  label {
    float: left;
    font-size: .8em;
    margin-right: 10px;
    margin-top: 6px;
  }

  .results-dropdown {
    select {
      background-color: $color-gray-lightest;
      border: 0;
      border-radius: 7px;
      font-size: .8em;
      height: 28px;
      overflow: hidden;
      padding: 0 .7em;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 130px;
    }
  }

  .results-dropdown-page-size {
    select {
      width: 80px;
    }
  }

  .no-results {
    margin-top: 20px;
    width: 350px;
  }
}

.results-loading {
  opacity: .5;
  pointer-events: none;
}

.results-card {
  border: 1px solid $color-gray-lighter;
  border-left-width: 8px;
}
