.tm-scroll-up-container {
  // the background-color in inline-style doesn't render in some browsers (IE11, Edge), so we also set it here
  background-color: $blue-primary-darker;
  z-index: $back-to-top-z !important;

  path {
    fill: $color-white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
  }
}
