.searchbar {
  .text-input-wrapper {
    display: block;
    position: relative;

    > span {
      color: $color-gray;
      font-size: 17px;
      position: absolute;
      right: 11px;
      top: 10px;

      &:hover {
        color: $color-gray-darkest;
      }

      .fa-times-circle {
        color: $alert-red;
        font-size: 21px;
        top: 9px;

        &:hover {
          color: darken($alert-red, 10%);
        }
      }

      &:focus {
        outline-color: $color-black !important;
      }
    }
  }
}

.panel-meeting-search-upper-section, .panel-meeting-agenda-upper-section {
  .search-submit-button {
    margin-top: 40px!important;
  }
}
