// custom styles for using Design System Layouts spinner
$tm-spinner-default-border-width: 13px;
$tm-spinner-default-size: 100px;
$tm-spinner-filled-ratio: 1.15;

.tm-spinner {
  color: $tm-navy;
}

.tm-spinner-homepage-position-results {
  left: 40%;
  position: absolute;
  top: 7px;

  .ds-c-spinner--big.ds-c-spinner--filled {
    height: $tm-spinner-default-size * $tm-spinner-filled-ratio;
    width: $tm-spinner-default-size * $tm-spinner-filled-ratio;
  }

  .ds-c-spinner--big::before {
    border-width: $tm-spinner-default-border-width;
    height: $tm-spinner-default-size;
    width: $tm-spinner-default-size;
  }

  .ds-c-spinner--big::after {
    border-width: $tm-spinner-default-border-width;
    height: $tm-spinner-default-size;
    width: $tm-spinner-default-size;
  }
}

.tm-spinner-position-results {
  left: 40%;
  position: absolute;
  top: 20px;

  .ds-c-spinner--big.ds-c-spinner--filled {
    height: $tm-spinner-default-size * $tm-spinner-filled-ratio;
    width: $tm-spinner-default-size * $tm-spinner-filled-ratio;
  }

  .ds-c-spinner--big::before {
    border-width: $tm-spinner-default-border-width;
    height: $tm-spinner-default-size;
    width: $tm-spinner-default-size;
  }

  .ds-c-spinner--big::after {
    border-width: $tm-spinner-default-border-width;
    height: $tm-spinner-default-size;
    width: $tm-spinner-default-size;
  }
}
