.tm-spinner {

  margin: auto;
  width: 100px;
  z-index: $spinner-z; // make sure spinner is on top

  img {
    position: absolute;
    width: 10em;
  }

  .center {
    -moz-animation: spin 3s linear infinite;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  .middle {
    -moz-animation: spin 4s linear infinite;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }

  .outer {
    -moz-animation: spin 5s linear infinite;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
}

.tm-spinner-color-inverted {
  color: $color-white;
}

.tm-spinner-small {
  img {
    height: 50px;
    width: 50px;
  }
}

.tm-spinner-homepage-position-results {
  left: 45%;
  position: absolute;
  top: 7px;
}

.tm-spinner-portfolio-additional {
  left: 45%;
  position: absolute;
  top: 50px;
}

.tm-spinner-position-results {
  left: 40%;
  position: absolute;
  top: 20px;
}

.tm-spinner-position-details {
  left: 45%;
  position: absolute;
  top: 20px;
}

.tm-spinner-favorites {
  float: left;
  margin: 2px 6px 0 0;
}

.tm-spinner-glossary {
  left: 30%;
  position: absolute;
  top: 100px;
}

$favorite-spinner-border-width: 3px;
$favorite-spinner-size: 14px;

// Favorite's Loading Spinner
.favorite-container {
  .ds-c-spinner {
    color: $tm-navy;
    height: $favorite-spinner-size;
    top: 2px;
    width: $favorite-spinner-size;

    &::before,
    &::after {
      border-width: $favorite-spinner-border-width;
      height: $favorite-spinner-size;
      width: $favorite-spinner-size;
    }
  }

  &.usa-button {
    .ds-c-spinner {
      // scss-lint:disable PseudoElement
      &,
      &::before,
      &::after {
        height: $favorite-spinner-size - 1;
        width: ($favorite-spinner-size - 1);
      }
      // scss-lint:enable PseudoElement
    }
  }

  .spinner-white {
    color: $color-white;
    margin-right: .5em;
  }
}
