.tm-table {
  $border-radius: 9px;
  color: $color-gray;
  font-size: .9em;
  table-layout: fixed;
  width: 100%;

  .column-title-sub,
  .column-title-link {
    font-weight: normal;
  }

  .column-title-link {
    a {
      color: $color-white;
    }
  }

  th,
  td {
    border: 0;
    overflow-wrap: break-word;
  }

  thead {
    background: $blue-primary;
    color: $color-white;

    th {
      background: inherit;
    }

    th:first-of-type {
      padding: 1em 1em 0;
    }
  }

  tbody {

    border-bottom: 1px solid $blue-primary;

    th {
      background-color: $color-white;
      padding-bottom: 1em;
      padding-right: 1em;
      text-transform: uppercase;
      width: 18%;
    }

    td {
      border-left: 1px solid $blue-primary;
    }
  }
}

.tm-header-no-columns {
  tr:first-child {
    th {
      padding: 1em;
    }
  }
}
