// We also import variables from ./sass-vars with sass-vars-loader

/**
 * Global Variables
 */
$alert-red: #b03c3f;
$color-red: #cb232d;
$color-gray-lightest: #f1f1f1;
$color-gray-lightest-alt: #f0f0f0;
$color-gray-lighter: #d6d7d9;
$color-gray-light: #aeb0b5;
$blue-primary: #0071bc;
$blue-primary-light: #e6f1f8;
$color-white: #fff;
$color-black: #000;
$color-gray: #5b616b;
$color-gray-darkest: #212121;
$tm-dark-blue: #00293f;
$tm-white-smoke: #f5f5f5;
$tm-white-smoke-light: #f7f7f7;
$tm-navy: #215493;
$tm-navy-dark: #112e51;
$color-primary-alt-light: #9bdaf1;
$color-blue-active: #205493;
$color-blue-hover: #0071bb;
$color-primary-alt-lightest: #e1f3f8;
$color-blue-light: #e6f0f9;
$color-green: #4da365;
$color-green-dark: #2e8540;
$color-green-dark-opacity50: #95be9d;
$color-green-light: #ecf6ee;
$color-gold: #f8c54f;
$color-gold-dark: #fdb81e;
$color-gold-darker: #976e12;
$color-gold-darkest: #4b3709;
$color-dodger-blue: #1e90ff;
$color-black-box-shadow: rgba(0, 0, 0, .75);

/**
 * Header
 */
$header-desktop-height: 75px;

/**
 * Avatar
 */
$avatar-size: 100px;
$avatar-background: $tm-navy;
$avatar-color: $color-white;
$avatar-text-ratio: 0.4;

// Avatar Dropdowns
$avatar-dropdown-size: 45px;
$avatar-dropdown-background: $color-white;
$avatar-dropdown-border-top-color: rgba(0, 0, 0, .05);
$avatar-dropdown-box-shadow-color: rgba(0, 0, 0, .15);
$avatar-dropdown-account-segment-color: #e1e1e1;

/**
 * Editor
 */
$editor-background: #fefefe;
$editor-border: #ddd;
$editor-box-shadow: #ababab;
$editor-headline-background: #fbfbfb;
$editor-headline-background-focus: #f3f3f3;
$editor-headline-color: #888;

/**
 * Misc Settings
 */
// z-index
$autosuggest-suggestions-container-open-z: 2;
$spinner-z: 100;
$feedback-button-z: 10000;
$feedback-z: 11000;
$dropdown-content-z: 15000;
