// Global Variables
$alert-red: #b03c3f;
$color-gray-lightest: #f1f1f1;
$color-gray-lighter: #d6d7d9;
$blue-primary: #0071bc;
$color-white: #fff;
$color-black: #000;
$color-gray: #5b616b;

//avatar dropdown
$avatar-background: #fff;
$avatar-dropdown-border-top-color: rgba(0, 0, 0, .05);
$avatar-dropdown-box-shadow-color: rgba(0, 0, 0, .15);
$avatar-dropdown-account-segment-color: #e1e1e1;
