.tm-button-alt {
  background-color: $color-white;
  border: 1px solid $blue-primary;
  color: $color-black;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;

  .tm-button-alt-icon {
    color: $blue-primary;
    margin-right: 5px;
  }
}

.tm-button-alt:hover {
  border-bottom: 1px solid $blue-primary;
  color: $color-white;
}
