.white-button {
  background-color: $color-white;
  border: 1px solid $blue-primary;
  color: $color-black;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;

  .white-button-icon {
    color: $blue-primary;
    margin-right: 5px;
  }
}

.white-button:hover {
  border-bottom: 1px solid $blue-primary;
  color: $color-white;
}
