.edit-position-details-page {
    .edit-position-details-upper-section {
        background-color: $bg-blue-dark-1;
        box-shadow: 20px 20px 20px $bg-gray-medium-2;
        color: $color-white;
        max-width: none;
        padding: 20px 35px 35px;
    }

    .search-submit-button {
        margin-top: 39px;
    }

    .filterby-container {
        display: flex;
        margin-top: 20px;

        .filterby-label {
            font-size: 20px;
            margin-bottom: 10px;
            width: 115px;
        }

        .filterby-clear {
            font-weight: bold;

            .fa-times {
                color: $color-red;
                margin-right: 5px;
            }
        }
    }

    .edit-position-details-filters {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

        .filter-div {
            align-items: center;
            display: flex;
            margin-right: 10px;

            .label {
                margin-right: 10px;
                min-width: 90px;
                text-align: end;
            }

            @media screen and (max-width: 1025px) {
                .label-date {
                    margin-right: 2px;
                }
            }

            .picky {
                color: $color-black;
                width: 240px;
            }
        }
    }
}

.edit-position-details-results-controls {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    margin-right: 35px;

    div:first-child {
        margin-right: 10px;
    }

    div {
        align-items: baseline;
        display: flex;

        label {
            margin-right: 5px;
        }
    }
}

.edit-position-details-results-select {
    background-color: $color-white;
    background-image: url(/assets/img/angle-down-black.svg);
    background-position-x: calc(100% - 8px);
    border: 1px solid $bg-gray-dark-2;
    border-radius: 3px;
    font-size: 0.9em;
    height: 28px;
    overflow: hidden;
    padding: 0 1.5em 0 0.7em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}
