// USWDS
@import '../../node_modules/uswds/dist/css/uswds.css';

// Global
@import 'variables';

// Components
@import 'details';
@import 'home';
@import 'results';
@import 'footer';
@import 'header';
@import 'accountdropdown';
