{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "automatic"
    }]
  ],
  "presets": [
    "react-app",
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "2",
        "targets": {
          "node": "current",
          "browsers": ["last 2 versions", "ie >= 11"]
        }
      }
    ]
  ],
  "sourceType": "unambiguous"
}
