.git/
.github/
.circleci/
.codeclimate.yml
.eslintrc
.eslintignore
.editorconfig
.gitignore
.scss-lint.yml
.pa11yci

.dockerignore
Dockerfile
*docker-compose.yml

**/*.md

node_modules/
coverage/
.env

