on:
  pull_request_review:
    branches-ignore:
      - 'dependabot/*'
name: Label approved pull requests
jobs:
  labelWhenApproved:
    name: Label when approved
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "1"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "Approved"
        REMOVE_LABEL: "Approved Pending Feedback"
